.designer-auth-page{
    background-color: #f2f2f2;
    height: 100%;
    position: absolute;
    width: 100%;
}
.designer-auth-page .render-header{
    font-size: 17px;
}
.designer-auth-page .info-thumb{
    font-size: 17px;
}
.designer-auth-page .am-list-item {
    border-bottom: 1px solid #ddd;
}
.designer-auth-page .right-header{
    float: right;
}
.designer-auth-page .add-works .am-list-content{
    text-align: center;
    color: #278bce;
}
.designer-auth-page .add-works .icon-tianjia{
    color: #278bce;
    margin-right: 5px;
    font-size: 18px;
}
.designer-auth-page .extra-edit{
    color: #ff0000;
}
.designer-auth-page .icon-bianji{
    margin-right: 5px;
    color: #278bce;
}
.auth-works-list .am-list-thumb img{
    width: 72px;
    height: 52px;
    vertical-align: middle;
    padding: 5px 0;
}
.auth-self-page .am-list-item .am-list-line .am-list-extra{
    -webkit-flex-basis: 60%;
    -ms-flex-preferred-size: 60%;
    flex-basis: 60%;
}
.auth-self-page .tag-container-title{
    font-size: 17px;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
}
.auth-self-page .tag-container{
    padding: 5px;
}
.tag-container .self-label{
    margin-left: 10px;
    margin-right: 5px;
    margin-bottom: 10px;
    color: #108ee9;
}
.tag-container .am-tag.self-label::before{
    border: 1PX solid #108ee9;
}
.tag-container .icon-shanchuguanbicha{
    position: absolute;
    top: -9px;
    left: -10px;
    color: #108ee9;
}

.designer-auth-page .am-list-item .am-list-line .am-list-extra{
    -webkit-flex-basis: 20%;
    -ms-flex-preferred-size: 20%;
    flex-basis: 20%;
}
.designer-auth-page .am-list-item .am-list-line .am-list-brief{
    white-space: initial;
}
.auth-skill-page .new-nav-bar{
    border-bottom: 1px solid #ddd;
}
.auth-skill-page .auth-skill .am-list-body{
    margin: 0 10px;
    border-bottom: 1px solid #ddd;
}
.auth-skill .skill-label{
    // margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    // color: #108ee9;
    padding: 0 10px;
    height: 30px;
    line-height: 30px;
}
.auth-skill .skill-label.am-tag-active{
    background-color: #00A0E9;
    color: #fff;
}
.auth-skill .am-list-header{
    font-size: 16px;
    // color: #000;
}
.designer-auth-page .auth-works{
    border-bottom: 1px solid #ddd;
}
.auth-works-list.am-list-item .am-list-line .am-list-extra{
    -webkit-flex-basis: 15%;
    -ms-flex-preferred-size: 15%;
    flex-basis: 15%;
}
.user-works-page .new-nav-bar{
    border-bottom: 1px solid #ddd;
}
.user-works-view-more{
    width: 2rem;
    height: 1rem;
    line-height: 1rem;
    text-align: center;
    margin: 0 auto;
    margin-top: .3rem;
    margin-bottom: .3rem;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 3px;
}
.auth.icon-renzhengguanli{
    font-size: 24px;
    color: #f8b551;
    margin-left: 2px;
    // margin-top: 5px;
}
.auth.icon-Id{
    // font-size: 24px;
    color: #3cbaff;
    margin-left: 2px;
}
.ListItemLarge .no-auth{
    color: #ff0000;
}

// real name start
.real-name-page{
    background-color: #f2f2f2;
    height: 100%;
    position: absolute;
    width: 100%;
}
.real-name-list .am-list-item{
    border-bottom: 1px solid #ddd;
}
.real-name-list .render-header{
    font-size: 17px;
}
.real-name-list .right-header {
    float: right;
}
.real-name-list .am-image-picker-list{
    margin-bottom: 0px;
}
.real-name-list .am-image-picker{
    padding-bottom: 3px;
}
.real-name-page .real-name-message{
    text-align: center;
    margin-top: 0.5rem;
    margin-bottom: 5px;
    font-size: 14px;
}
.real-name-page .real-name-button{
    font-size: 20px;
    color: #fff;
    background-color: #fd4d65;
}
.real-name-page .real-name-button.real-name-button-active{
    background-color: #de2a42;
}
.real-name-page .real-name-button.gray{
    background-color: #ccc;
}
.real-name-page .real-name-button.gray.real-name-button-active{
    background-color: #ccc;
}
.is_real_name .am-image-picker-item-remove{
    display: none;
}
.real-name.icon-Id{
    font-size: 24px;
    color: #3cbaff;
    margin-left: 2px;
    // margin-top: 5px;
}
.am-badge {
    line-height: inherit;
}
.scroll-bottom-tips{
    font-size: 16px;
    text-align: center;
    padding: 5px 0;
}
// real name end