.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.ellipsis-lines {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}

.designer-home {
  background-color: #fff;
}

.NewNavBar .am-navbar-left {
  padding-left: 0px;
}

.designer-home .avatar-box {
  width: 1.866667rem;
  height: 1.866667rem;
  border-radius: 100%;
  margin: 0 auto;
  overflow: hidden;
  margin-bottom: 5px;
}

.designer-home .avatar-box img {
  max-width: 1.866667rem;
  min-height: 1.866667rem;
}

.designer-home .brief-box-out {
  text-align: center;
  font-size: 18px;
  margin: 0 .4rem;
  border-bottom: 1px dashed #9e9e9e;
  margin-bottom: .293333rem;
}

.brief-box-out .nick-name .iconfont {
  font-size: 20px;
  margin-left: .133333rem;
  vertical-align: sub;
  color: #ff6f8a;
}

.brief-box-out .nick-name .iconfont.icon-icccxingbie-female {
  color: #ff6f8a;
}

.brief-box-out .nick-name .iconfont.icon-xingbie-male {
  color: #2bc9ff;
}

.brief-more-flex.am-flexbox,
.brief-data-flex.am-flexbox {
  margin: 0 auto;
}

.brief-more-flex.am-flexbox .am-flexbox-item {
  text-align: center;
  font-size: 14px;
}

.brief-more-flex.am-flexbox .am-flexbox-item .iconfont {
  margin-right: .066667rem;
  font-size: 18px;
}

.brief-box-out .slogan {
  font-size: 14px;
  margin-top: .346667rem;
  margin-bottom: .666667rem;
  color: #9e9e9e;
}

.brief-data-flex.am-flexbox .am-flexbox-item {
  text-align: center;
}

.brief-data-flex .text {
  margin-top: .133333rem;
  margin-bottom: .8rem;
}

.brief-box-out .brief-box-out-bottom {
  color: #9e9e9e;
  font-size: 18px;
  width: 2.5rem;
  margin: 0 auto;
  position: relative;
  bottom: -14px;
  height: 28px;
  line-height: 28px;
  background-color: #fff;
}

.designer-home .huake-info-box {
  margin: 0 .666667rem;
  font-size: 16px;
  color: #707070;
  text-align: justify;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 6;
  overflow: hidden;
  margin-bottom: 1rem;
}

.designer-home .brief-comment-flex {
  font-size: 20px;
  color: #aaa;
  margin-bottom: 10px;
}

.designer-home .brief-comment-flex .active {
  color: #499fd8;
}

.designer-home .brief-comment-flex .active .txt {
  color: #499fd8;
}

.designer-home .brief-comment-flex .txt {
  color: #595959;
}

.flex-city .am-list-item {
  background-color: #f5f5f9;
}

.flex-city .am-list-item.am-list-item-active {
  background-color: #ccc;
}

.designer-home .black-font {
  color: #000 !important;
}

.designer-home .brief-more {
  font-size: 14px;
  margin-top: 5px;
}

.designer-home .brief-more .iconfont {
  margin-left: 10px;
  margin-right: 3px;
}

.index-works-collection .view-more {
  width: 2rem;
  height: 1rem;
  line-height: 1rem;
  text-align: center;
  margin: 0 auto;
  margin-top: .3rem;
  margin-bottom: .3rem;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 3px;
}

html, body, #container {
  height: 100%;
}

.am-flexbox.bottom-features {
  height: 1.2rem;
  color: #fff;
  position: fixed;
  width: 100%;
  bottom: 0;
  z-index: 2;
}

.bottom-features .am-flexbox-item {
  height: 100%;
  border-right: 1px solid #4d87bc;
  text-align: center;
  font-size: 12px;
  margin-left: 0;
}

.bottom-features .am-flexbox-item:nth-child(3) {
  border-right: none;
}

.bottom-features .am-flexbox-item:last-child {
  border-right: none;
  font-size: 18px;
  line-height: 1.2rem;
}

.bottom-features .am-flexbox-item .iconfont {
  display: block;
  margin-top: 0.2rem;
}

.am-list-item.am-input-item.order-price-box {
  height: 1.68rem;
  line-height: 1.68rem;
  padding: 0 .32rem;
  font-size: 18px;
  color: #0a0a0a;
  border-bottom: 1px solid #e8e8e8;
}

.am-list.order-price-out-box {
  background-color: #fff;
  border: 1px solid #e8e8e8;
  border-radius: .16rem;
  margin-bottom: .8rem;
  overflow: hidden;
}

.am-list-item.list-switch {
  border-bottom: 1px solid #e8e8e8;
  height: 55px;
}

.report-modal.am-modal-transparent .am-modal-content .am-modal-body {
  padding: 0px;
  margin: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.designer.icon-xin-1,
.work.icon-xingxing_xuanzhong {
  color: #2bc9ff;
}
