.designer-home{
    background-color: #fff;
}
.NewNavBar .am-navbar-left{
    padding-left: 0px;
}
.designer-home .avatar-box{
    width: 1.866667rem;
    height: 1.866667rem;
    border-radius: 100%;
    margin: 0 auto;
    overflow: hidden;
}
.designer-home img{
    max-width: 1.866667rem;
    min-height: 1.866667rem;
}