@import "./common";

.barBottom {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 100px;
    border-top: 1PX solid #E3E3E4;
    background-color: #f5f5f5;
    ul {
        margin-top: 0;
        li {
            width: 20%;
            float: left;
            text-align: center;
            a {
                color: #333;
                text-decoration: none;
                @include link-colors(#333, #3ebbf3);
                i {
                    width: 60px;
                    height: 60px;
                    display: block;
                    margin: 5px auto 3px auto;
                }
                span {
                    @include font-dpr(12PX);
                }
                .picSize1 {
                    background: url("../images/tabbar_one_close@3x.png") center center / 60px 60px no-repeat;
                    @include link-url(url("../images/tabbar_one_on@3x.png") center center / 60px 60px no-repeat);
                }
                .picSize2 {
                    background: url("../images/tabbar_two_close@3x.png") center center / 60px 60px no-repeat;
                    @include link-url(url("../images/tabbar_two_on@3x.png") center center / 60px 60px no-repeat)
                }
                .picSize3 {
                    width: 84px;
                    height: 84px;
                    //border: resize(2px) solid #E5E5E5;
                    -webkit-box-shadow: inset 0 0 0 6px #e5e5e5;
                    -moz-box-shadow: inset 0 0 0 6px #e5e5e5;
                    box-shadow: inset 0 0 0 6px #e5e5e5;
                    -webkit-border-radius: 50%;
                    -moz-border-radius: 50%;
                    border-radius: 50%;
                    //margin: 0 auto;
                    background: url("../images/add.png") center center / 84px 84px no-repeat;
                }
                .picSize4 {
                    background: url("../images/tabbar_three_close@3x.png") center center / 60px 60px no-repeat;
                    @include link-url(url("../images/tabbar_three_close@3x.png") center center / 60px 60px no-repeat)
                }
                .picSize5 {
                    background: url("../images/tabbar_four_close@3x.png") center center / 60px 60px no-repeat;
                    @include link-url(url("../images/tabbar_four_on@3x.png") center center / 60px 60px no-repeat)
                }
            }
        }
    }
}

//login
.loginWrap {
    background-color: #fff;
    padding: 0 70px;
    margin-top: 30%;
    .loginIn {
        .loginCenter {
            .loginLogo {
                text-align: center;
                height: 240px;
                img {
                    height: 100%;
                }
            }
            .loginIpt {
                //login 组件
                //margin-top: 20px;
                .am-list-item .am-input-label.am-input-label-5 {
                    @include font-dpr(14PX);
                    width: 50px;
                }
                .am-list-item .am-input-control input {
                    @include font-dpr(14PX);
                    position: relative;
                    top: 3px;
                }
                .am-list-item.am-input-item {
                    height: 70px;
                    margin: 30px 0 0  0;
                    //border-bottom: 1PX solid #CBCBCB;
                    position: relative;
                }
                i {
                    width: 24px;
                    height: 34px;
                    display: inline-block;
                    position: absolute;
                    left: 10px;
                    top: 15px;
                    img {
                        height: 100%;
                        width: 100%;
                    }
                }
                .am-input-error-extra {
                    width: 30px;
                    height: 30px;
                    background-size:30px 30px;
                    background-repeat: no-repeat;
                }
            }
            .am-checkbox-agree .am-checkbox-agree-label {
                @include font-dpr(12PX);
                .am-checkbox {
                    .am-checkbox-inner {
                        width: 34px;
                        height: 34px;
                        border: 1PX solid #ccc;
                        &:after {
                            top: 1PX;
                            right: 8px;
                            width: 12px;
                            height: 17px;
                            //border-color: #108ee9;
                            border-width: 0 1PX 1PX 0;
                        }
                    }
                }
                //.am-checkbox.am-checkbox-checked .am-checkbox-inner {
                //    background-color: #fff;
                //}
            }
            .am-list-body {
                border: 0 none;
                .am-list-item:not(:last-child) .am-list-line {
                    border: 0 none;
                }
            }
            .am-button {
                height: 80px;
                line-height: 80px;
                border-radius: 10px;
                margin-top: 30px;
                @include font-dpr(16PX);
            }
            .noAccount {
                margin-top: 5px;
            }
        }
    }
}
