@import url(g:\m.huakewang\m.hkw.com\src\css\base.css);
.barBottom {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 1.333333rem;
  border-top: 1PX solid #E3E3E4;
  background-color: #f5f5f5;
}

.barBottom ul {
  margin-top: 0;
}

.barBottom ul li {
  width: 20%;
  float: left;
  text-align: center;
}

.barBottom ul li a {
  color: #333;
  text-decoration: none;
  color: #333;
}

.barBottom ul li a:hover {
  color: #3ebbf3;
}

.barBottom ul li a i {
  width: .8rem;
  height: .8rem;
  display: block;
  margin: .053333rem auto .026667rem auto;
}

.barBottom ul li a span {
  font-size: 12PX;
}

[data-dpr="2"] .barBottom ul li a span {
  font-size: 24PX;
}

[data-dpr="3"] .barBottom ul li a span {
  font-size: 36PX;
}

.barBottom ul li a .picSize1 {
  background: url("../images/tabbar_one_close@3x.png") center center/0.8rem 0.8rem no-repeat;
}

.barBottom ul li a .picSize1:hover {
  background: url("../images/tabbar_one_on@3x.png") center center/0.8rem 0.8rem no-repeat;
}

.barBottom ul li a .picSize2 {
  background: url("../images/tabbar_two_close@3x.png") center center/0.8rem 0.8rem no-repeat;
}

.barBottom ul li a .picSize2:hover {
  background: url("../images/tabbar_two_on@3x.png") center center/0.8rem 0.8rem no-repeat;
}

.barBottom ul li a .picSize3 {
  width: 1.12rem;
  height: 1.12rem;
  -webkit-box-shadow: inset 0 0 0 .08rem #e5e5e5;
  -moz-box-shadow: inset 0 0 0 .08rem #e5e5e5;
  box-shadow: inset 0 0 0 .08rem #e5e5e5;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background: url("../images/add.png") center center/1.12rem 1.12rem no-repeat;
}

.barBottom ul li a .picSize4 {
  background: url("../images/tabbar_three_close@3x.png") center center/0.8rem 0.8rem no-repeat;
}

.barBottom ul li a .picSize4:hover {
  background: url("../images/tabbar_three_close@3x.png") center center/0.8rem 0.8rem no-repeat;
}

.barBottom ul li a .picSize5 {
  background: url("../images/tabbar_four_close@3x.png") center center/0.8rem 0.8rem no-repeat;
}

.barBottom ul li a .picSize5:hover {
  background: url("../images/tabbar_four_on@3x.png") center center/0.8rem 0.8rem no-repeat;
}

.topMargin {
  margin-top: 8%;
}

.loginWrap {
  background-color: #fff;
  padding: 0 1rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.loginWrap .loginIn .loginCenter .loginLogo {
  text-align: center;
  height: 3.2rem;
}

.loginWrap .loginIn .loginCenter .loginLogo img {
  height: 100%;
}

.loginWrap .loginIn .loginCenter .bindthree {
  margin-top: .266667rem;
  text-align: center;
}

.loginWrap .loginIn .loginCenter .bindthree h3 {
  font-size: 22px;
}

.loginWrap .loginIn .loginCenter .bindthree p {
  color: #808080;
}

.loginWrap .loginIn .loginCenter .loginIpt .am-list-item .am-input-label.am-input-label-5 {
  font-size: 14PX;
  width: .666667rem;
}

[data-dpr="2"] .loginWrap .loginIn .loginCenter .loginIpt .am-list-item .am-input-label.am-input-label-5 {
  font-size: 28PX;
}

[data-dpr="3"] .loginWrap .loginIn .loginCenter .loginIpt .am-list-item .am-input-label.am-input-label-5 {
  font-size: 42PX;
}

.loginWrap .loginIn .loginCenter .loginIpt .am-list-item .am-input-control input {
  font-size: 14PX;
  position: relative;
  top: .04rem;
}

[data-dpr="2"] .loginWrap .loginIn .loginCenter .loginIpt .am-list-item .am-input-control input {
  font-size: 28PX;
}

[data-dpr="3"] .loginWrap .loginIn .loginCenter .loginIpt .am-list-item .am-input-control input {
  font-size: 42PX;
}

.loginWrap .loginIn .loginCenter .loginIpt .am-list-item.am-input-item {
  height: .933333rem;
  line-height: .533333rem;
  margin: .4rem 0 0  0;
  border-bottom: 1PX solid #CBCBCB;
  position: relative;
}

.loginWrap .loginIn .loginCenter .loginIpt .am-list-item.am-input-item.yzm input {
  width: 4rem;
}

.loginWrap .loginIn .loginCenter .loginIpt i {
  font-size: 22PX;
  color: #25B5FB;
  display: inline-block;
  position: relative;
  top: .04rem;
}

[data-dpr="2"] .loginWrap .loginIn .loginCenter .loginIpt i {
  font-size: 44PX;
}

[data-dpr="3"] .loginWrap .loginIn .loginCenter .loginIpt i {
  font-size: 66PX;
}

.loginWrap .loginIn .loginCenter .loginIpt i.phone {
  margin-left: .066667rem;
}

.loginWrap .loginIn .loginCenter .loginIpt .am-input-error-extra {
  width: .4rem;
  height: .4rem;
  background-size: .4rem .4rem;
  background-repeat: no-repeat;
}

.loginWrap .loginIn .loginCenter .loginIpt .getCode {
  position: absolute;
  right: 0;
  top: -.4rem;
  height: .666667rem;
  line-height: .613333rem;
  border-radius: .333333rem;
  margin-top: .666667rem;
  background-color: #fff;
  border: 1Px solid #6CC9F0;
  color: #6CC9F0;
  font-size: 12px;
}

.loginWrap .loginIn .loginCenter .am-list-body {
  border: 0 none;
}

.loginWrap .loginIn .loginCenter .am-list-body .am-list-item:not(:last-child) .am-list-line {
  border: 0 none;
}

.loginWrap .loginIn .loginCenter .am-button {
  height: 1.2rem;
  line-height: 1.2rem;
  border-radius: .133333rem;
  margin-top: .266667rem;
  background-color: #00A0E9;
  font-size: 18PX;
}

[data-dpr="2"] .loginWrap .loginIn .loginCenter .am-button {
  font-size: 36PX;
}

[data-dpr="3"] .loginWrap .loginIn .loginCenter .am-button {
  font-size: 54PX;
}

.loginWrap .loginIn .loginCenter .loginBtn.am-button {
  margin-top: .533333rem;
}

.loginWrap .loginIn .loginCenter .noAccount {
  margin-top: .106667rem;
}

.loginWrap .loginIn .loginCenter .agreeRulesColor {
  color: #0096ff;
}

.loginWrap .loginIn .loginCenter .registerCheckbox {
  margin-left: 0;
}

.loginWrap .loginIn .loginCenter .registerCheckbox .am-checkbox-agree-label {
  font-size: 12px;
  margin-left: .426667rem;
}

.loginWrap .loginIn .loginCenter .registerCheckbox .am-checkbox-agree-label .am-checkbox .am-checkbox-inner {
  width: 15px;
  height: 15px;
}

.loginWrap .loginIn .loginCenter .registerCheckbox .am-checkbox-agree-label .am-checkbox .am-checkbox-inner:after {
  right: 3px;
  top: 0px;
  height: 8px;
}

.loginWrap.bindWrap {
  position: absolute;
  top: 48%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

.loginThree {
  position: absolute;
  bottom: .133333rem;
  left: 0;
  width: 100%;
  padding: 0 .933333rem;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.loginThree .loginThreeLine {
  color: #C4C4C4;
  margin-bottom: .4rem;
}

.loginThree .loginThreeLine span {
  width: 2.666667rem;
  height: 1PX;
  margin-top: .133333rem;
  display: inline-block;
  background-color: #DBE0E7;
}

.loginThree .loginThreeBottom {
  font-size: 14PX;
}

[data-dpr="2"] .loginThree .loginThreeBottom {
  font-size: 28PX;
}

[data-dpr="3"] .loginThree .loginThreeBottom {
  font-size: 42PX;
}

.loginThree .loginThreeBottom ul li {
  float: left;
  width: 33.3333%;
}

.loginThree .loginThreeBottom ul li i {
  font-size: 18PX;
  vertical-align: middle;
}

[data-dpr="2"] .loginThree .loginThreeBottom ul li i {
  font-size: 36PX;
}

[data-dpr="3"] .loginThree .loginThreeBottom ul li i {
  font-size: 54PX;
}

.loginThree .loginThreeBottom ul .wx i, .loginThree .loginThreeBottom ul .wx a {
  color: #00CE37;
}

.loginThree .loginThreeBottom ul .qq i, .loginThree .loginThreeBottom ul .qq a {
  color: #00BAE1;
}

.loginThree .loginThreeBottom ul .wb i, .loginThree .loginThreeBottom ul .wb a {
  color: #DE4943;
}

.forgetNav {
  position: fixed;
  top: 0;
  height: 1.2rem;
  width: 100%;
  border-bottom: 1px solid #E3E3E3;
  z-index: 100;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  html:not([data-scale]) .am-list-body::before,
  html:not([data-scale]) .am-list-body::after,
  html:not([data-scale]) .am-button-ghost::before,
  html:not([data-scale]) .am-list-item:not(:last-child) .am-list-line::after {
    background-color: #ffffff !important;
    z-index: -1;
  }
}
