@charset "UTF-8";
@import url(h:\罗磊\huakewang\src\css\base.css);
.barBottom {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 1.4rem;
  background-color: #f5f5f5;
}

.barBottom .am-tab-bar-bar {
  height: 1.4rem;
}

.navPlus .navPlusAnim {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background-color: #fff;
}

.navPlus .navPlusAnim .fourWrap {
  overflow: hidden;
  text-align: center;
  width: 7.52rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  /* IE 9 */
  -moz-transform: translate(-50%, -50%);
  /* Firefox */
  -webkit-transform: translate(-50%, -50%);
  /* Safari 和 Chrome */
  -o-transform: translate(-50%, -50%);
}

.navPlus .navPlusAnim .fourWrap li {
  width: 2.506667rem;
  float: left;
  margin: .266667rem .613333rem;
  font-size: 14px;
  position: relative;
}

.navPlus .navPlusAnim .fourWrap li img {
  width: 100%;
}

.navPlus .navPlusAnim .fourWrap li a {
  color: #333;
}

.navPlus .navPlusAnim .fourWrap .upQuote i {
  position: absolute;
  width: 1rem;
  height: .4rem;
  right: -.186667rem;
  top: .16rem;
  background: url(../images/noticeNew.png) no-repeat center center/1rem 0.4rem;
}

.navPlus .navPlusAnim span {
  position: absolute;
  bottom: .266667rem;
  left: 50%;
  transform: translate(-50%);
  -ms-transform: translate(-50%);
  /* IE 9 */
  -moz-transform: translate(-50%);
  /* Firefox */
  -webkit-transform: translate(-50%);
  /* Safari 和 Chrome */
  -o-transform: translate(-50%);
  bottom: .4rem;
  font-size: 32px;
  display: inline-block;
  color: #F2683F;
}

.topMargin {
  padding-top: 8%;
  position: fixed;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

.loginWrap {
  background-color: #fff;
  padding: 0 1rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  height: 90%;
  width: 100%;
}

.loginWrap .loginIn .loginCenter .loginLogo {
  text-align: center;
  height: 3.2rem;
}

.loginWrap .loginIn .loginCenter .loginLogo img {
  height: 100%;
}

.loginWrap .loginIn .loginCenter .bindthree {
  margin-top: .266667rem;
  text-align: center;
}

.loginWrap .loginIn .loginCenter .bindthree h3 {
  font-size: 22px;
}

.loginWrap .loginIn .loginCenter .bindthree p {
  color: #808080;
}

.loginWrap .loginIn .loginCenter .loginIpt .am-list-item .am-input-label.am-input-label-5 {
  font-size: 14PX;
  width: .666667rem;
}

[data-dpr="2"] .loginWrap .loginIn .loginCenter .loginIpt .am-list-item .am-input-label.am-input-label-5 {
  font-size: 28PX;
}

[data-dpr="3"] .loginWrap .loginIn .loginCenter .loginIpt .am-list-item .am-input-label.am-input-label-5 {
  font-size: 42PX;
}

.loginWrap .loginIn .loginCenter .loginIpt .am-list-item .am-input-control input {
  font-size: 14PX;
  position: relative;
  top: .04rem;
}

[data-dpr="2"] .loginWrap .loginIn .loginCenter .loginIpt .am-list-item .am-input-control input {
  font-size: 28PX;
}

[data-dpr="3"] .loginWrap .loginIn .loginCenter .loginIpt .am-list-item .am-input-control input {
  font-size: 42PX;
}

.loginWrap .loginIn .loginCenter .loginIpt .am-list-item.am-input-item {
  height: .933333rem;
  line-height: .533333rem;
  margin: .4rem 0 0  0;
  border-bottom: 1PX solid #CBCBCB;
  position: relative;
}

.loginWrap .loginIn .loginCenter .loginIpt .am-list-item.am-input-item.yzm input {
  width: 4rem;
}

.loginWrap .loginIn .loginCenter .loginIpt i {
  font-size: 22PX;
  color: #25B5FB;
  display: inline-block;
  position: relative;
  top: .04rem;
}

[data-dpr="2"] .loginWrap .loginIn .loginCenter .loginIpt i {
  font-size: 44PX;
}

[data-dpr="3"] .loginWrap .loginIn .loginCenter .loginIpt i {
  font-size: 66PX;
}

.loginWrap .loginIn .loginCenter .loginIpt i.phone {
  margin-left: .066667rem;
}

.loginWrap .loginIn .loginCenter .loginIpt .am-input-error-extra {
  width: .4rem;
  height: .4rem;
  background-size: .4rem .4rem;
  background-repeat: no-repeat;
}

.loginWrap .loginIn .loginCenter .loginIpt .getCode {
  position: absolute;
  right: 0;
  top: -.4rem;
  height: .666667rem;
  line-height: .613333rem;
  border-radius: .333333rem;
  margin-top: .666667rem;
  background-color: #fff;
  border: 1Px solid #6CC9F0;
  color: #6CC9F0;
  font-size: 12px;
}

.loginWrap .loginIn .loginCenter .am-list-body {
  border: 0 none;
}

.loginWrap .loginIn .loginCenter .am-list-body .am-list-item:not(:last-child) .am-list-line {
  border: 0 none;
}

.loginWrap .loginIn .loginCenter .am-button {
  height: 1.2rem;
  line-height: 1.2rem;
  border-radius: .133333rem;
  margin-top: .266667rem;
  background-color: #00A0E9;
  font-size: 18PX;
}

[data-dpr="2"] .loginWrap .loginIn .loginCenter .am-button {
  font-size: 36PX;
}

[data-dpr="3"] .loginWrap .loginIn .loginCenter .am-button {
  font-size: 54PX;
}

.loginWrap .loginIn .loginCenter .loginBtn.am-button {
  margin-top: .533333rem;
}

.loginWrap .loginIn .loginCenter .noAccount {
  margin-top: .106667rem;
}

.loginWrap .loginIn .loginCenter .agreeRulesColor {
  color: #0096ff;
}

.loginWrap .loginIn .loginCenter .registerCheckbox {
  margin-left: 0;
}

.loginWrap .loginIn .loginCenter .registerCheckbox .am-checkbox-agree-label {
  font-size: 12px;
  margin-left: .426667rem;
}

.loginWrap .loginIn .loginCenter .registerCheckbox .am-checkbox-agree-label .am-checkbox .am-checkbox-inner {
  width: 15px;
  height: 15px;
}

.loginWrap .loginIn .loginCenter .registerCheckbox .am-checkbox-agree-label .am-checkbox .am-checkbox-inner:after {
  right: 3px;
  top: 0px;
  height: 8px;
}

.loginWrap.bindWrap {
  position: absolute;
  top: 48%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

.loginThree {
  padding: 0 .933333rem;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  z-index: 100;
}

.loginThree .loginThreeLine {
  color: #C4C4C4;
  margin-bottom: .4rem;
}

.loginThree .loginThreeLine span {
  width: 2.666667rem;
  height: 1PX;
  margin-top: .133333rem;
  display: inline-block;
  background-color: #DBE0E7;
}

.loginThree .loginThreeBottom {
  font-size: 14px;
}

.loginThree .loginThreeBottom ul li {
  float: left;
  width: 33.3333%;
}

.loginThree .loginThreeBottom ul li i {
  font-size: 18px;
  vertical-align: middle;
}

.loginThree .loginThreeBottom ul .wx i, .loginThree .loginThreeBottom ul .wx a {
  color: #00CE37;
}

.loginThree .loginThreeBottom ul .qq i, .loginThree .loginThreeBottom ul .qq a {
  color: #00BAE1;
}

.loginThree .loginThreeBottom ul .wb i, .loginThree .loginThreeBottom ul .wb a {
  color: #DE4943;
}

.pressYzmWrap img {
  height: .9rem;
  width: 2.5rem;
  border-top: 2px solid #F2FBFE;
  border-bottom: 2px solid #F2FBFE;
}

.pressYzmWrap .pressYzm {
  padding-left: 0 !important;
  height: .8rem !important;
}

.pressYzmWrap .pressYzm .am-list-line {
  padding-right: 0;
}

.pressYzmWrap .pressYzm .am-list-line .am-input-control input {
  line-height: .86rem;
  width: 3rem;
  font-size: 14px;
  text-transform: uppercase;
  padding-left: .133333rem;
  box-sizing: border-box;
  border: 1px solid #ccc;
}

.forgetNav {
  position: fixed;
  top: 0;
  height: 1.2rem;
  width: 100%;
  border-bottom: 1px solid #E3E3E3;
  z-index: 100;
}

.homeWrap .am-wingblank.am-wingblank-lg {
  margin: 0;
}

.homeWrap .lanternLis li img {
  height: 3.2rem;
}

.homeWrap .lanternLis .fourAvt {
  border-bottom: 1px solid #cccccc;
  padding: .266667rem;
}

.homeWrap .lanternLis .fourAvt ul {
  overflow: hidden;
}

.homeWrap .lanternLis .fourAvt ul li {
  text-align: center;
  width: 25%;
  float: left;
  color: #949494;
}

.homeWrap .lanternLis .fourAvt ul li img {
  width: 1.333333rem;
  height: 1.333333rem;
}

.homeWrap .homeWrapTop {
  height: 4rem;
  width: 100%;
  font-size: 16px;
  padding-top: 20px;
}

.homeWrap .homeWrapTop a {
  color: #fff;
}

.homeWrap .homeWrapTop .indexNav .am-navbar-light {
  background-color: transparent;
}

.homeWrap .homeWrapTop .indexNav .am-navbar-light .am-navbar-right .searchAll {
  width: .6rem;
  height: .6rem;
  line-height: .6rem;
  text-align: center;
  border: 2px solid #fff;
  border-radius: 50%;
}

.homeWrap .homeWrapTop .indexNav .am-navbar-light .am-navbar-right .searchAll i {
  color: #fff;
}

.homeWrap .homeWrapTop .hometabs {
  height: 2.133333rem;
  color: #fff;
  margin-top: .1rem;
}

.homeWrap .homeWrapTop .hometabs .am-tabs-default-bar .am-tabs-default-bar-tab {
  line-height: 1;
  height: auto;
  padding: 0;
}

.homeWrap .homeWrapTop .hometabs .am-tabs-default-bar .am-tabs-default-bar-tab .tabsList {
  width: 100%;
  text-align: center;
  float: left;
}

.homeWrap .homeWrapTop .hometabs .am-tabs-default-bar .am-tabs-default-bar-tab .tabsList img {
  height: 1.2rem;
  width: 1.2rem;
  border-radius: 50%;
}

.homeWrap .homeWrapTop .hometabs .am-tabs-default-bar .am-tabs-default-bar-tab .tabsList p {
  line-height: 14px;
  margin-top: .133333rem;
  font-size: 12px;
}

.homeWrap .homeWrapTop .hometabs .am-tabs-default-bar .am-tabs-default-bar-prevpage,
.homeWrap .homeWrapTop .hometabs .am-tabs-default-bar .am-tabs-default-bar-nextpage {
  display: none;
}

.homeWrap #hkCircle .items {
  border-bottom: 1px solid #cccccc;
}

.homeWrap #hkCircle .itemPicList p {
  line-height: .746667rem;
}

.homeWrap #hkCircle .itemPicList ul li {
  width: 31%;
  height: 2.4rem;
}

.homeWrap .homeWrapMain .items {
  padding: .266667rem;
}

.homeWrap .homeWrapMain .items .itemsTop {
  padding: .2rem;
  overflow: hidden;
  box-sizing: border-box;
  border-bottom: 1px dotted #dedcdc;
}

.homeWrap .homeWrapMain .items .itemsTop .itemsTopPic {
  overflow: hidden;
}

.homeWrap .homeWrapMain .items .itemsTop .itemsTopPic img {
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 50%;
}

.homeWrap .homeWrapMain .items .itemsTop .itemsTopRight {
  margin-left: 1.6rem;
}

.homeWrap .homeWrapMain .items .itemsTop .itemsTopRight p {
  overflow: hidden;
  line-height: .64rem;
}

.homeWrap .homeWrapMain .items .itemsTop .itemsTopRight .personalMsg {
  color: #949494;
}

.homeWrap .homeWrapMain .items .itemPicList ul {
  overflow: hidden;
  margin-top: .133333rem;
}

.homeWrap .homeWrapMain .items .itemPicList ul li {
  width: 47.5%;
  height: 3.306667rem;
  float: left;
  margin: 0 .106667rem .106667rem .106667rem;
  overflow: hidden;
}

.homeWrap .homeWrapMain .items .itemPicList ul li img {
  width: 100%;
}

.searchIpt .am-search-cancel {
  font-size: 14px;
}

.searchIpt .searchPD {
  padding-left: .266667rem;
  background-color: #efeff4;
}

.searchIpt .searchPD > span {
  float: left;
  margin-top: .35rem;
}

.searchIpt .search {
  margin-top: 1rem;
  text-align: center;
  padding: 0 .8rem;
  font-size: 16px;
}

.searchIpt .search h3 {
  color: #919191;
  margin-bottom: .533333rem;
}

.searchIpt .search ul {
  overflow: hidden;
}

.searchIpt .search ul li {
  float: left;
  padding: 0 .48rem;
  color: #1B91D4;
}

.searchIpt .search ul span {
  float: left;
  color: #DCDCDC;
}

.searchIpt .searchHistory, .searchIpt .searchHot {
  padding: 0 .4rem;
  margin-top: .533333rem;
  font-size: 14px;
  color: #333333;
}

.searchIpt .searchHistory ul, .searchIpt .searchHot ul {
  overflow: hidden;
}

.searchIpt .searchHistory ul li, .searchIpt .searchHot ul li {
  float: left;
  height: 30px;
  line-height: 30px;
  text-align: center;
  color: #333;
  padding: 0 10px;
  margin: 6px;
  background-color: #F2F2F2;
  border-radius: 18px;
}

.createServer .am-navbar-left-icon {
  margin-right: 0;
}

.createServer .am-navbar-title {
  font-size: 16px;
}

.createServer .serverStep {
  height: 1rem;
  line-height: 1rem;
  background-color: #C1DBE3;
}

.createServer .serverStep ul {
  overflow: hidden;
}

.createServer .serverStep ul li {
  float: left;
  width: 33.33%;
  text-align: center;
  position: relative;
  padding-left: 0.1rem;
  box-sizing: border-box;
}

.createServer .serverContent {
  text-align: center;
  padding: .8rem 1.2rem;
}

.createServer .serverContent h3 {
  font-size: 22px;
  margin-bottom: .4rem;
}

.createServer .serverContent p {
  line-height: 18px;
}

.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.example-exit {
  opacity: 1;
}

.example-exit.example-exit-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

.route-wrapper {
  position: relative;
}

.route-wrapper > div {
  position: absolute;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  html:not([data-scale]) .am-list-body::before,
  html:not([data-scale]) .am-list-body::after,
  html:not([data-scale]) .am-button-ghost::before,
  html:not([data-scale]) .am-tabs-default-bar-top .am-tabs-default-bar-tab::after,
  html:not([data-scale]) .am-list-item:not(:last-child) .am-list-line::after {
    background-color: transparent !important;
    z-index: -1;
  }
}

.flex-city .am-flexbox-item .am-list-line .am-list-content {
  text-align: center;
}

.flex-city .sub-title {
  margin-top: .26rem;
  margin-bottom: .26rem;
  font-size: .3rem;
}

.create-server-nav-bar .am-navbar-title {
  font-size: 18px;
}

.createServer .serverStep {
  color: #fff;
  font-size: 14px;
}

.createServer .serverStep .triangle-right {
  width: 0;
  height: 0;
  border-top: 0.5rem solid transparent;
  border-bottom: 0.5rem solid transparent;
  border-left: 0.35rem solid #C1DBE3;
  position: absolute;
  top: 0.01rem;
  right: -0.34rem;
}

.createServer .serverStep .finish {
  background-color: #199bd8;
}

.createServer .serverStep .finish .triangle-right {
  border-left-color: #199bd8;
}

.am-navbar-left {
  padding-left: 0;
}

.orderListWrap .am-navbar-left {
  padding-left: 15px;
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.ellipsis-lines {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}

.designer-home {
  background-color: #fff;
}

.NewNavBar .am-navbar-left {
  padding-left: 0px;
}

.designer-home .avatar-box {
  width: 1.866667rem;
  height: 1.866667rem;
  border-radius: 100%;
  margin: 0 auto;
  overflow: hidden;
  margin-bottom: 5px;
}

.designer-home .avatar-box img {
  max-width: 1.866667rem;
  min-height: 1.866667rem;
}

.designer-home .brief-box-out {
  text-align: center;
  font-size: 18px;
  margin: 0 .4rem;
  border-bottom: 1px dashed #9e9e9e;
  margin-bottom: .293333rem;
}

.brief-box-out .nick-name .iconfont {
  font-size: 20px;
  margin-left: .133333rem;
  vertical-align: sub;
  color: #ff6f8a;
}

.brief-box-out .nick-name .iconfont.icon-icccxingbie-female {
  color: #ff6f8a;
}

.brief-box-out .nick-name .iconfont.icon-xingbie-male {
  color: #2bc9ff;
}

.brief-more-flex.am-flexbox,
.brief-data-flex.am-flexbox {
  margin: 0 auto;
}

.brief-more-flex.am-flexbox .am-flexbox-item {
  text-align: center;
  font-size: 14px;
}

.brief-more-flex.am-flexbox .am-flexbox-item .iconfont {
  margin-right: .066667rem;
  font-size: 18px;
}

.brief-box-out .slogan {
  font-size: 14px;
  margin-top: .346667rem;
  margin-bottom: .666667rem;
  color: #9e9e9e;
}

.brief-data-flex.am-flexbox .am-flexbox-item {
  text-align: center;
}

.brief-data-flex .text {
  margin-top: .133333rem;
  margin-bottom: .8rem;
}

.brief-box-out .brief-box-out-bottom {
  color: #9e9e9e;
  font-size: 18px;
  width: 2.5rem;
  margin: 0 auto;
  position: relative;
  bottom: -14px;
  height: 28px;
  line-height: 28px;
  background-color: #fff;
}

.designer-home .huake-info-box {
  margin: 0 .666667rem;
  font-size: 16px;
  color: #707070;
  text-align: justify;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 6;
  overflow: hidden;
  margin-bottom: 1rem;
}

.designer-home .brief-comment-flex {
  font-size: 20px;
  color: #aaa;
  margin-bottom: 10px;
}

.designer-home .brief-comment-flex .active {
  color: #499fd8;
}

.designer-home .brief-comment-flex .active .txt {
  color: #499fd8;
}

.designer-home .brief-comment-flex .txt {
  color: #595959;
}

.flex-city .am-list-item {
  background-color: #f5f5f9;
}

.flex-city .am-list-item.am-list-item-active {
  background-color: #ccc;
}

.designer-home .black-font {
  color: #000 !important;
}

.designer-home .brief-more {
  font-size: 14px;
  margin-top: 5px;
}

.designer-home .brief-more .iconfont {
  margin-left: 10px;
  margin-right: 3px;
}

.index-works-collection .view-more {
  width: 2rem;
  height: 1rem;
  line-height: 1rem;
  text-align: center;
  margin: 0 auto;
  margin-top: .3rem;
  margin-bottom: .3rem;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 3px;
}

html, body, #container {
  height: 100%;
}

.am-flexbox.bottom-features {
  height: 1.2rem;
  color: #fff;
  position: fixed;
  width: 100%;
  bottom: 0;
  z-index: 2;
}

.bottom-features .am-flexbox-item {
  height: 100%;
  border-right: 1px solid #4d87bc;
  text-align: center;
  font-size: 12px;
  margin-left: 0;
}

.bottom-features .am-flexbox-item:nth-child(3) {
  border-right: none;
}

.bottom-features .am-flexbox-item:last-child {
  border-right: none;
  font-size: 18px;
  line-height: 1.2rem;
}

.bottom-features .am-flexbox-item .iconfont {
  display: block;
  margin-top: 0.2rem;
}

.am-list-item.am-input-item.order-price-box {
  height: 1.68rem;
  line-height: 1.68rem;
  padding: 0 .32rem;
  font-size: 18px;
  color: #0a0a0a;
  border-bottom: 1px solid #e8e8e8;
}

.am-list.order-price-out-box {
  background-color: #fff;
  border: 1px solid #e8e8e8;
  border-radius: .16rem;
  margin-bottom: .8rem;
  overflow: hidden;
}

.am-list-item.list-switch {
  border-bottom: 1px solid #e8e8e8;
  height: 55px;
}

.report-modal.am-modal-transparent .am-modal-content .am-modal-body {
  padding: 0px;
  margin: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.designer.icon-xin-1,
.work.icon-xingxing_xuanzhong {
  color: #2bc9ff;
}

.info .icon-wujiaoxing {
  color: #ccc;
}

.info .icon-wujiaoxing.light {
  color: #409ad6;
}

.comment-item {
  padding: 10px 15px 0;
  margin: .266667rem 0 .4rem;
}

.comment-item .user-pic {
  float: left;
  width: 1rem;
  margin-right: 15px;
}

.comment-item .user-img {
  width: 1rem;
  height: 1rem;
  border-radius: 100%;
}

.comment-item .comment-top {
  margin-left: 1.2rem;
  height: 1.2rem;
}

.comment-item .comment-top .scoreTitle {
  color: #6d6d6d;
  margin-right: .133333rem;
}

.comment-item .context .text {
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  overflow: hidden;
  color: #6d6d6d;
  font-size: 14px;
}

.comment-item .context .get-all {
  display: inline-block;
  padding: .066667rem;
  color: #409ad6;
}

.comment-item .dishPic {
  margin-top: .266667rem;
  overflow: auto;
}

.comment-item .dishPic .imgFrame {
  font-size: 0;
  width: 30%;
  margin: 0 .08rem;
  box-sizing: border-box;
  margin-bottom: .08rem;
  float: left;
  position: relative;
  overflow: hidden;
}

.comment-item .dishPic .imgFrame:after {
  content: '';
  display: block;
  margin-top: 100%;
  /* margin 百分比相对父元素宽度计算 */
}

.comment-item .dishPic .imgFrame img {
  position: absolute;
  height: 100%;
  transform: translateX(-50%);
  left: 50%;
}

.comment-item .bottom-box {
  margin-top: .2rem;
  color: #ccc;
  font-size: 14px;
  padding-bottom: 5px;
  border-bottom: 1px dashed #ccc;
}

.comment-item .bottom-box .time {
  vertical-align: sub;
}

.comment-item .bottom-box .comment-icon {
  float: right;
  position: relative;
}

.comment-item .bottom-box .comment-icon span {
  margin: .133333rem;
  font-size: 16px;
}

.comment-item .bottom-box .comment-icon .dashed-arrow {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: #fff;
  border-top: 1px dashed #ccc;
  border-left: 1px dashed #ccc;
  transform: rotate(45deg);
  position: absolute;
  left: 0;
  right: 0;
  bottom: -10px;
  margin: 0 auto;
}

.comment-item .comment-like-box {
  padding: .133333rem;
  padding-bottom: 0;
  color: #409ad6;
  margin-top: .2rem;
  background-color: #f4f4f4;
}

.comment-item .comment-like-box .iconfont {
  float: left;
  margin-right: .066667rem;
}

.comment-item .comment-like-box .like-user li {
  float: left;
}

.comment-item .comment-like-box .txt {
  float: left;
}

.comment-item .comment-reply-box {
  color: #555;
  padding: .133333rem;
  background-color: #f4f4f4;
  z-index: 1;
  position: relative;
}

.comment-reply-box .reply-line {
  padding: .066667rem 0;
  -webkit-tap-highlight-color: #504242;
}

.comment-reply-box .reply-line:active {
  background-color: #ccc;
}

.comment-reply-box .reply-line .origin {
  float: left;
  color: #409ad6;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
  font-size: 0;
}

.clearfix {
  *zoom: 1;
}

.popup-comment-input-box {
  border-top: 1px solid #bbb;
  background-color: #ddd;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.popup-comment-input-box .am-textarea-control textarea {
  font-size: 14px;
  color: #333;
}

.demand-popup-comment-input-box {
  left: 0;
  background-color: #f5f5f5;
  border-top: 1px solid #ececec;
}

.circle-popup-comment-input-box {
  bottom: 1.4rem;
  left: 0;
  border-bottom: 1px solid #bbb;
  border-top: 1px solid #ccc;
  background-color: #f5f5f5;
}

.circle-popup-comment-input-box .am-textarea-control textarea {
  font-size: 14px;
  color: #333;
}

.popup-comment-input-box .comment-input {
  background-color: transparent;
  width: 80%;
  width: 100%;
  padding-right: 1.8rem;
  box-sizing: border-box;
}

.comment-input textarea {
  min-height: 25px;
  border-bottom: 1px solid #409ad6;
}

.popup-comment-input-box .send-btn {
  position: absolute;
  right: .16rem;
  bottom: .16rem;
  font-size: 14px;
  display: inline-block;
  padding: .08rem .16rem;
  border-radius: 3px;
  border: 1px solid #999;
  background-color: #ccc;
  color: #999;
}

.popup-comment-input-box .send-btn.demand-send-btn {
  border: 1px solid #ccc;
  background-color: #e8e8e8;
}

.commentList ul li {
  background-color: #f0f0f0;
  line-height: 0.75rem;
}

.commentList ul li span {
  color: #1199d2;
  margin-left: 6px;
}

.homeWrap .list-view-section-body {
  overflow: hidden;
}

.homeWrap .am-list-view-scrollview-content.am-list {
  max-width: 100%;
}

.exlips {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}

.modalNeedPrice {
  width: 250px;
}

.modalNeedPrice .am-modal-title i {
  padding: 0 3px;
}

.modalNeedPrice .needPriceLists li {
  height: 30px;
  line-height: 30px;
  letter-spacing: 2px;
  font-size: 16px;
  color: #225CF9;
}

.categoryWrap {
  padding: 0 .27rem;
  overflow: hidden;
}

.categoryWrap .categoryPub {
  border-bottom: 1px solid #D6D6D6;
  overflow: hidden;
}

.categoryWrap .categoryPub h3 {
  font-size: 16px;
  padding: .27rem 0;
}

.categoryWrap .categoryPub .categoryPubLis {
  text-align: center;
  border: 1px solid #D6D6D6;
  border-radius: 5px;
  height: 26px;
  line-height: 26px;
  padding: 0 8px;
  margin: 5px;
  float: left;
}

.categoryWrap .categoryPub .categoryPubLisBg {
  background-color: #00A0E9;
  border: 1px solid #00A0E9;
  color: #fff;
}

.needLists .am-list-item .am-list-line .am-list-extra {
  flex-basis: 70%;
  color: #000;
}

.needLists .am-list-item .am-list-line .am-list-extra .needTitle {
  width: 100%;
  text-align: right;
  border: 0 none;
  padding: .15rem 0;
}

.comment-item .comment-like-box {
  font-size: 13px;
  word-break: break-word;
}

.comment-item .comment-reply-box {
  font-size: 13px;
  word-break: break-word;
}

.comment-item .comment-reply-box.more {
  text-align: center;
  color: #409ad6;
}

.designer-comment.view-more {
  width: 2rem;
  height: 1rem;
  line-height: 1rem;
  text-align: center;
  margin: 0 auto;
  margin-top: .3rem;
  margin-bottom: .3rem;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 3px;
}

.cicleCard {
  overflow: hidden;
}

.cicleCard .needDes .am-list-item {
  padding-right: 10px;
  padding-left: 10px;
}

.cicleCard .needDes textarea {
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 3px;
}

.NewNavBar {
  border-bottom: 1px solid #e3e3e3;
}

.NewNavBar.am-navbar-light .am-navbar-title {
  color: #212121;
}

.am-button.publishButton {
  width: 1.466667rem;
  height: .8rem;
  line-height: .8rem;
  color: #fff;
  background-color: #33a3ff;
}

.am-button.publishButton.am-button-active {
  background-color: #ddd;
}

.writer-comment {
  background-color: #f0f0f0;
  height: 100%;
  position: absolute;
  width: 100%;
}

.writer-comment .textarea-box {
  background-color: #fff;
}

.writer-comment .score-box {
  height: 1.6rem;
  line-height: 1.6rem;
  font-size: 20px;
  border-bottom: 1px solid #eee;
}

.writer-comment .score-box span {
  vertical-align: super;
  margin-right: .16rem;
  margin-left: .24rem;
  color: #161616;
}

.writer-comment .score-box .iconfont {
  font-size: 32px;
  margin-left: .16rem;
  color: #ddd;
}

.writer-comment .score-box .iconfont.active {
  color: #00aaef;
}

.writer-comment .textarea-count-box {
  float: right;
  padding-bottom: .4rem;
  margin-right: .48rem;
  font-size: 14px;
  color: #ccc;
}

.imagePicker-box {
  padding: .266667rem;
  background-color: #fff;
  margin-top: .266667rem;
}

.imagePicker-box .am-image-picker-list .am-image-picker-upload-btn {
  border: 2px dashed #ddd;
}

.imagePicker-box .am-image-picker-list .am-image-picker-upload-btn:after {
  height: 4PX;
}

.imagePicker-box .am-image-picker-list .am-image-picker-upload-btn:before {
  width: 4px;
}

.am-image-picker-list .am-image-picker-upload-btn span {
  position: absolute;
  width: 100%;
  bottom: .16rem;
  text-align: center;
  font-size: 12px;
  color: #757575;
}

.writer-comment .cost {
  margin-top: .24rem;
  height: 1rem;
}

.writer-comment .cost span.text {
  color: #333333;
  margin-right: .8rem;
}

.writer-comment .cost span.icon {
  color: #767676;
}

.place-order {
  background-color: #f0f0f0;
  height: 100%;
  position: absolute;
  width: 100%;
}

.place-order .address-p {
  text-align: center;
  color: #555;
  margin: .32rem auto .32rem;
  font-size: 14px;
}

.place-order .remarks-input {
  background-color: transparent;
  border-bottom: 1px solid #ddd;
}

.remarks-input.am-list-item .am-input-label.am-input-label-5 {
  width: 22px;
}

.place-order .remarks-input .iconfont {
  color: #00aaef;
  font-size: 20px;
}

.place-order .payment-box {
  height: 1.68rem;
  line-height: 1.68rem;
  padding: 0 .32rem;
  font-size: 18px;
  color: #0a0a0a;
  margin-bottom: .3rem;
}

.place-order .payment-box .right {
  float: right;
  font-size: 36px;
  color: #f96268;
  max-width: 5rem;
  overflow: hidden;
}

.place-order .payment-bottom {
  background-color: #f96268;
  color: #fff;
  font-size: 20px;
  border-radius: 10px;
}

.place-order .payment-bottom.payment-bottom-active {
  background-color: #c24246;
}

.order-price-box.am-list-item .am-input-label.am-input-label-5 {
  width: 3.2rem;
}

.order-price-box.am-list-item .am-input-control .fake-input-container .fake-input {
  font-size: 36px;
}

.order-price-box.am-list-item .am-list-line {
  padding-right: 0;
}

.pay-modal-div, .pay-method-div {
  height: 6rem;
  position: relative;
}

.pay-modal-div .am-navbar-left .iconfont {
  margin-left: .24rem;
  color: #ccc;
}

.pay-modal-div .pay-list .am-list-extra {
  color: #2a2a2a;
}

.pay-modal-div .pay-list .icon-jiantou1 {
  color: #33a3ff;
  font-size: 18px;
  vertical-align: middle;
}

.pay-modal-div .pay-list .one .am-list-content {
  color: #adadad;
}

.pay-modal-div .pay-list .two .am-list-extra {
  color: #000;
  font-size: 22px;
}

.pay-modal-div .pay-button {
  position: absolute !important;
  width: 90%;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: 10px;
  font-size: 20px;
  color: #fff;
  background-color: #fd4d65;
}

.pay-modal-div .pay-button.pay-button-active {
  background-color: #de2a42;
}

.pay-method-div .pay-method-list .am-list-item {
  border-bottom: 1px solid #ddd;
  height: 1rem;
}

.pay-method-div .pay-method-list .iconfont {
  font-size: 18px;
  margin-right: 10px;
}

.pay-method-div .pay-method-list .iconfont.icon-yinhangqia {
  color: #00bcd4;
}

.pay-method-div .pay-method-list .iconfont.icon-zhifubao {
  color: #1296db;
}

.pay-method-div .pay-method-list .iconfont.icon-wxpay {
  color: #41b035;
}

.add-server {
  background-color: #f0f0f0;
  height: 100%;
  position: absolute;
  width: 100%;
}

.add-server-nav-bar {
  border-bottom: 1px solid #ddd;
}

.add-server-nav-bar .am-navbar-left-icon {
  margin-right: 0;
}

.add-server .server-name {
  height: 1.6rem;
  border-bottom: 1px solid #ddd;
}

.unit-price-flex {
  height: 1.6rem;
  background-color: #fff;
}

.unit-price-flex .am-list-item .am-input-label.am-input-label-5 {
  width: 35px;
}

.am-flexbox-item.flex3 {
  -webkit-box-flex: 3;
  -webkit-flex: 3;
  -ms-flex: 3;
  flex: 3;
}

.am-flexbox-item.flex2 {
  -webkit-box-flex: 2;
  -webkit-flex: 2;
  -ms-flex: 2;
  flex: 2;
}

.am-flexbox-item.flex1 {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.unit-price-flex .am-list-item.am-input-item {
  height: 1.6rem;
}

.unit-price-flex {
  border-bottom: 1px solid #ddd;
}

.add-server .am-list-item .am-input-label {
  color: #737373;
}

.unit-price-flex .iconfont.icon-tubiao- {
  font-size: 30px;
  border: 1px solid #ddd;
  border-radius: 5px;
  color: #838383;
}

.drop-down-list-unit {
  width: 1.6rem;
}

.drop-down-list-unit .am-popover-inner-wrapper .am-popover-item-container {
  display: block;
  line-height: 39px;
  text-align: center;
  font-size: 18px;
  color: #838383;
}

.unit-price-flex .am-list-item .am-list-line {
  padding-right: 0;
}

.createServer {
  background-color: #f0f0f0;
  height: 100%;
  position: absolute;
  width: 100%;
}

.createServer .server-item {
  background-color: #fff;
  margin: .16rem .32rem;
  padding: .16rem .48rem;
  border: 1px solid #dfdfdf;
  border-radius: 5px;
}

.server-item .am-checkbox-item {
  border-bottom: 1px solid #eee;
  margin-bottom: .16rem;
}

.server-item .am-list-content h2 {
  display: inline-block;
  width: 80%;
}

.server-item .am-list-content a {
  float: right;
  color: #bbb;
}

.createServer .server-item .describe {
  font-size: 14px;
  color: #969696;
  line-height: .48rem;
}

.createServer .server-item .unit-box {
  display: inline-block;
  font-size: 20px;
  color: #ff0c0c;
  height: 38px;
  line-height: 38px;
}

.createServer .server-item .my-stepper {
  float: right;
  width: 110px;
  padding: 0;
  border: 1px solid #cfcfcf;
  border-radius: 5px;
}

.server-item .my-stepper .am-stepper-handler {
  border: none;
  border-radius: 0;
  width: 35px;
  height: 35px;
  line-height: 32px;
}

.server-item .my-stepper .am-stepper-handler .am-icon-xxs {
  fill: #ff6633;
}

.server-item .my-stepper .am-stepper-handler.am-stepper-handler-down {
  border-right: 1px solid #cfcfcf;
}

.server-item .my-stepper .am-stepper-handler.am-stepper-handler-up {
  border-left: 1px solid #cfcfcf;
}

.my-stepper .am-stepper-input-wrap input {
  width: 40px;
}

.server-button-modal.am-modal-wrap {
  position: inherit;
}

.create-server-popup {
  padding: .32rem .48rem;
  text-align: left;
  border-top: 1px solid #ccc;
}

.create-server-popup .txt-div {
  color: #070707;
  font-size: 16px;
  margin-bottom: .36rem;
}

.create-server-popup .txt-div .num {
  margin: 0 .16rem;
  color: #20c8e1;
}

.create-server-popup .txt-div .right {
  float: right;
}

.create-server-popup .txt-div .price {
  color: #ff0909;
  margin-left: 0.16rem;
}

.create-server-popup .create-server-button {
  color: #fff;
  background-color: #00a0e9;
  border-radius: 0px;
}

.create-server-popup .create-server-button.create-server-button-active {
  background-color: #0276ac;
}

html:not([data-scale]) .am-button.create-server-button::before {
  border-radius: 0px;
}

.create-offer {
  background-color: #f0f0f0;
  position: absolute;
  width: 100%;
}

.create-offer-main .offer-item .price,
.create-offer-main .offer-item .number {
  text-align: right;
}

.create-offer-main {
  background-color: #fff;
  padding: .213333rem;
  margin-top: .133333rem;
  margin-bottom: .2rem;
}

.create-offer-main .offer-item {
  background-color: #f8f8fa;
  padding: .36rem;
  margin-bottom: .133333rem;
  line-height: .76rem;
}

.create-offer-main .offer-item .title {
  font-size: 16px;
  color: #000;
}

.create-offer-main .offer-item .price {
  font-size: 14px;
  color: #ff1212;
}

.create-offer-main .offer-item .remarks {
  font-size: 14px;
  color: #8b8b8b;
  line-height: 1.6;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.create-offer-main .offer-item .number {
  font-size: 14px;
  color: #5a5a5b;
}

.create-offer-main .tax-top-rate-box {
  background-color: #f8f8fa;
  padding: .36rem;
  margin-bottom: .133333rem;
}

.create-offer-main .tax-top-rate-box .name {
  font-size: 18px;
  color: #050505;
}

.create-offer-main .tax-top-rate-box .price {
  font-size: 16px;
  color: #858585;
  float: right;
  line-height: 1.6;
}

.create-offer-main .tax-top-rate-box .tax-bottom {
  font-size: 14px;
  color: #858585;
  text-align: right;
  margin-top: .16rem;
}

.create-offer-main .sum-price-box {
  margin: .4rem .36rem;
}

.create-offer-main .sum-price-box .left-title {
  font-size: 18px;
  color: #050505;
}

.create-offer-main .sum-price-box .right-sum-price {
  float: right;
  font-size: 16px;
  color: #494949;
}

.remarks-input-create-offer.am-list-item .am-input-label.am-input-label-5 {
  width: 26px;
  color: #00a0e9;
}

.remarks-input-create-offer {
  padding: .2rem;
  margin-bottom: 5px;
  background-color: #f8f8fa;
  border-radius: 6px;
}

.create-offer-customer,
.create-offer-project {
  background-color: #fff;
  padding: .2rem .4rem .3rem;
  margin-bottom: .2rem;
}

.create-offer-customer .customer-input-box,
.create-offer-project .customer-input-box {
  background-color: #f8f8f8;
}

.create-offer-customer .customer-input-box .am-list-item,
.create-offer-project .customer-input-box .am-list-item {
  background-color: transparent;
}

.create-offer-customer .customer-input-box .am-input-label {
  width: 1.333333rem;
  color: #929495;
}

.create-offer-customer .customer-title,
.create-offer-project .project-title {
  padding: .2rem 0 .2rem 15px;
}

.create-offer-customer .customer-title .left,
.create-offer-project .project-title .left {
  font-size: 18px;
  color: #050505;
  margin-right: .3rem;
}

.create-offer-customer .customer-title .right,
.create-offer-project .project-title .right {
  font-size: 15px;
  color: #929495;
  margin-right: .16rem;
}

.create-offer-customer .customer-title .iconfont {
  float: right;
  font-size: 22px;
  color: #00a0e9;
}

.create-offer-customer .am-list-item .am-input-control input,
.create-offer-project .am-list-item .am-input-control input {
  font-size: 15px;
}

.create-offer-customer .am-list-item .am-list-line,
.create-offer-project .am-list-item .am-list-line {
  border-bottom: 1px solid #e0e0e0 !important;
  margin-right: 15px;
}

.create-offer-customer .am-list-item:last-child .am-list-line,
.create-offer-project .am-list-item:last-child .am-list-line {
  border-bottom: none !important;
}

.create-offer-project .customer-input-box .am-input-label {
  width: 2.4rem;
  color: #929495;
}

.create-offer-project .customer-input-box .am-list-item .am-list-content {
  color: #929495;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.create-offer-project .customer-input-box .am-list-item .am-list-extra {
  color: #000;
  font-size: 15px;
  -webkit-box-flex: 2;
  -webkit-flex: 2;
  -ms-flex: 2;
  flex: 2;
}

.create-offer-project .customer-input-box.project-input .am-list-item .am-list-line {
  margin-right: 0;
  padding-right: 0;
}

.create-offer-project .customer-input-box.project-input .am-list-item.input-project-name .am-list-line {
  margin-right: 15px;
}

.project-input .am-list-item.am-list-item-middle.am-list-item-active {
  background-color: #ddd !important;
}

.cut-off-date .am-picker-popup-title {
  font-size: 15px;
}

@media screen and (max-width: 350px) {
  .cut-off-date .am-picker-popup-title {
    font-size: 14px;
  }
}

.customer-input-box.project-input .num {
  color: red;
  font-size: 17px;
}

.create-offer-foot {
  background-color: #fff;
  padding: .2rem .4rem .3rem;
}

.create-offer-foot .discount {
  padding: .2rem 0;
}

.create-offer-foot .discount .unit {
  display: inline-block;
  width: 40%;
  font-size: 17px;
  color: #000;
}

.discount .unit .price {
  color: #ff0707;
}

@media screen and (max-width: 350px) {
  .create-offer-foot .discount .unit {
    width: 38%;
    font-size: 14px;
  }
}

.create-offer-foot .create-offer-button {
  color: #fff;
  background-color: #00a0e9;
  border-radius: 0px;
}

html:not([data-scale]) .am-button.create-offer-button::before {
  border-radius: 0px;
}

.create-offer-foot .discount-select-div {
  padding: .2rem 0;
}

.discount-select-div .discount-left .txt {
  font-size: 18px;
  color: #565656;
  margin-left: .2rem;
  vertical-align: top;
}

.discount-select-div .discount-left .dot-box {
  display: inline-block;
  width: .533333rem;
  height: .533333rem;
  border: 1px solid #999;
  border-radius: 50%;
  position: relative;
}

.discount-select-div .discount-left .dot-box .dot {
  display: inline-block;
  width: .4rem;
  height: .4rem;
  border-radius: 50%;
  background-color: #00a0e9;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

.discount-select-div .discount-middle {
  height: .8rem;
  min-height: .8rem;
  background-color: #f2f2f2;
  border-radius: 5px;
}

.create-offer-foot .how-many-discount {
  text-align: center;
  font-size: 15px;
  color: #4b4b4b;
}

@media screen and (max-width: 350px) {
  .discount-select-div .discount-left .txt {
    font-size: 16px;
  }
}

.confirm-offer {
  background-color: #f0f0f0;
  position: absolute;
  width: 100%;
}

.confirm-offer-remarks-div {
  background-color: #f8f8fa;
  padding: .36rem;
  margin-bottom: .133333rem;
  min-height: 1.6rem;
}

.confirm-offer-remarks-div .title {
  float: left;
  font-size: 18px;
  color: #050505;
}

.confirm-offer-remarks-div .remarks {
  padding-left: 50px;
  font-size: 16px;
  color: #858585;
}

.create-offer-main .tax-top-rate-box.confirm-offer-style {
  background-color: transparent;
}

.create-offer-main .tax-top-rate-box.confirm-offer-style .name {
  font-size: 16px;
}

.create-offer-main .tax-top-rate-box.confirm-offer-style .price.subtotal {
  color: #464646;
}

.create-offer-main .tax-top-rate-box.confirm-offer-style .price.discount {
  color: #ff1212;
  font-size: 18px;
}

.create-offer-main .tax-top-rate-box.confirm-offer-tax .name {
  font-size: 16px;
  color: #858585;
}

.create-offer-main .tax-top-rate-box.confirm-offer-tax .tax-bottom {
  font-size: 16px;
  color: #858585;
}

.create-offer-main .tax-top-rate-box.confirm-offer-tax .txt {
  display: inline-block;
  width: 40px;
  text-align: right;
}

.confirm-offer .confirm-offer-customer {
  background-color: #fff;
  padding: .2rem .4rem 0;
  margin-bottom: .2rem;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

.confirm-offer .confirm-offer-customer .left {
  font-size: 16px;
  color: #858585;
  margin-right: .3rem;
  float: left;
}

.confirm-offer .confirm-offer-customer .right {
  font-size: 14px;
  color: #020202;
  text-align: right;
}

.confirm-offer-customer-title {
  font-size: 16px;
  color: #000;
  padding: .2rem .4rem .1rem;
}

.confirm-offer-customer .customer-box p {
  height: 1.2rem;
  line-height: 1.2rem;
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.ellipsis-lines {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}

.confirm-offer-customer .customer-box .right .name {
  vertical-align: top;
  margin-right: 5px;
}

.confirm-offer-customer .customer-box.customer .company {
  color: #858585;
}

.confirm-offer-foot .confirm-offer-button {
  color: #fff;
  background-color: #00a0e9;
  border-radius: 0px;
}

.confirm-offer-foot .confirm-offer-button-active {
  background-color: #0a77aa;
}

.confirm-offer-foot .create-offer-button-active {
  background-color: #0a77aa;
}

.confirm-offer-foot {
  background-color: #fff;
  padding: .3rem .4rem;
}

html:not([data-scale]) .am-button.confirm-offer-button::before {
  border-radius: 0px;
}

.server-button-modal .am-modal-transparent .am-modal-content .am-modal-body {
  padding: 0;
}

.server-button-modal .am-modal-transparent .am-modal-content {
  padding-top: 0;
}

.serverButton .am-button a {
  color: #009AE8;
}

.serverButton .am-button.am-button-active a {
  color: #fff;
}

.server-item .am-checkbox-item {
  padding-left: 0;
}

/**************** orderList start*********/
.showLoginPopUp div {
  font-size: 16px;
}

.verification-phone-box {
  min-height: 44px;
  line-height: 1.2rem;
  border: 1px solid #ccc;
  display: -webkit-box;
  display: flex;
}

.verification-phone-box .code.allow:active {
  background-color: #08a1ef;
}

.verification-phone-box .code {
  width: 50%;
  text-align: center;
  display: inline-block;
  border-left: 1px solid #ccc;
}

.verification-phone-box .verification-code {
  width: 50%;
}

.verification-phone-box img.codePouup {
  height: 100%;
  width: 100%;
}

.Confirm-order-modal .am-modal-header {
  padding-bottom: 2px;
}

.verification-phone-box .am-list-item .am-input-control input {
  line-height: 1.6;
}

.score-modal .info {
  text-align: left;
  margin-top: 20px;
  margin-bottom: 5px;
  font-size: 18px;
}

.score-modal .info .scoreTitle {
  margin-right: 10px;
}

.score-modal .info .icon-wujiaoxing {
  font-size: 20px;
  margin: 0 5px;
}

.am-list-item.comment {
  padding-left: 0;
  color: #888;
}

.am-list-item.comment .am-textarea-label.am-textarea-label-5 {
  width: 40px;
  color: #888;
}

.am-list-item.comment .am-textarea-control {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding-left: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.am-list-item.comment .am-textarea-control textarea {
  min-height: 80px;
  max-height: 130px;
}

.am-modal.am-modal-operation .am-modal-content .am-modal-button {
  text-align: center;
  padding-left: 0;
}

.withdraw-page .input-form {
  background-color: #f5f5f9;
}

.withdraw-page .am-navbar {
  border-bottom: 0.02rem solid #ccc;
}

.input-form .withdraw-list .am-input-item {
  border-bottom: 0.01rem solid #ccc;
}

.withdraw-page .am-list-item .am-input-label.am-input-label-5 {
  width: 1.7rem;
}

.input-form .am-list-header {
  padding: 0.3rem 0.2rem 0.1rem 0.3rem;
  font-size: 16px;
  color: #828080;
  display: inline-block;
  width: 100%;
  box-sizing: border-box;
}

.input-form .am-list-header .iconfont {
  font-size: 20px;
  margin-right: 6px;
  color: #555;
}

.input-form .am-list-header .balance {
  color: red;
}

.input-form .verification-phone-box {
  border-left: none;
  border-right: none;
}

.input-form .verification-phone-box.two {
  border-top: none;
}

.input-form .verification-phone-box .code {
  height: 44px;
}

.input-form .verification-phone-box .h5offerSpan {
  font-size: 16px;
}

.withdraw-page .withdraw-time {
  margin-top: 0.6rem;
  margin-bottom: 0.2rem;
  font-size: 14px;
  color: #555;
  text-align: center;
}

.withdraw-time .day {
  color: #08A1EF;
}

.withdraw-time .fees {
  color: #999;
}

.withdraw-page .pay-button {
  font-size: 20px;
  color: #fff;
  background-color: #fd4d65;
}

.withdraw-page .pay-button-active {
  font-size: 20px;
  color: #fff;
  background-color: #de2a42;
}

.withdraw-phone.am-list-item .am-input-label {
  color: #bbb;
}

.withdraw-phone.am-list-item .am-input-control input {
  color: #bbb;
}

/**************** orderList end*********/
.am-button.rechargeButton::before {
  border: none !important;
}

.rechargeButton {
  height: auto;
  line-height: 30px;
  padding: 0 8px;
  background-color: #17A9DE;
  color: #fff;
}

.recharge-input.am-list-item.am-input-item {
  border: 1px solid #ddd;
  border-radius: 3px;
}

.pay-modal-div .pay-list .two .am-list-extra {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.contacts-swipe::after {
  content: '';
  background-color: #F5F5F9;
  height: 3px;
  border-top: 1px solid #ECECED;
  border-bottom: 1px solid #ECECED;
  display: block;
}

.contacts-swipe .am-list-brief {
  font-size: 16px !important;
}

.contacts-swipe .icon-dianhua {
  font-size: 18px;
}

.recharge-input .am-input-label-5 {
  width: 26px !important;
}

.recharge-input .am-input-label-5 .iconfont {
  font-size: 20px;
  line-height: 1;
}

.contacts-modal .recharge-input.am-list-item.am-input-item {
  border-bottom: 0;
  border-radius: 0;
}

.contacts-modal .recharge-input.am-list-item.am-input-item.one {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.contacts-modal .recharge-input.am-list-item.am-input-item.four {
  border-bottom: 1px solid #ddd;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.am-action-sheet-wrap .am-action-sheet.am-action-sheet-share {
  background-color: #fff;
}

.am-action-sheet-share-list-item-icon .iconfont.icon-weixin1 {
  font-size: 50px;
  color: #21d328;
}

.am-action-sheet-body .am-action-sheet-title {
  text-align: left;
}

.am-action-sheet-share .am-action-sheet-share-list-item-title {
  font-size: 14px;
  color: #202020;
}

.select-address {
  background-color: #f0f0f0;
  height: 100%;
  position: absolute;
  width: 100%;
}

.select-address .toCitySetStyle {
  color: #000;
}

.label-city.am-list-item .am-input-label.am-input-label-5 {
  width: 3rem;
}

.home.am-list-item .am-input-label.am-input-label-5,
.company.am-list-item .am-input-label.am-input-label-5 {
  width: 1.7rem;
}

.position-InputItem .icon-dingwei {
  font-size: 20px;
}

.position-InputItem .icon-dituzhaofang {
  font-size: 20px;
}

.position-InputItem.am-list-item .am-input-extra {
  max-height: 3rem;
  line-height: 2;
  width: 1rem;
  margin-left: 0.3rem;
  text-align: right;
}

.position-current-location.am-list-item .am-list-line .am-list-content {
  text-align: center;
  color: #0e80db;
}

.position-current-location .iconfont {
  font-size: 16px;
  color: #0e80db;
  margin-right: 0.1rem;
}

.position-InputItem .icon-fangzi,
.position-InputItem .icon-iconset0190 {
  font-size: 20px;
  margin-right: 0.1rem;
}

.position-InputItem.home {
  border-bottom: 1px solid #eee;
}

.history-list .icon-dingwei {
  font-size: 20px;
}

.history-list .am-list-item {
  border-bottom: 1px solid #eee;
}

.history-list .am-list-item .am-list-line .am-list-extra {
  -webkit-flex-basis: 12%;
  -ms-flex-preferred-size: 12%;
  flex-basis: 12%;
}

.history.more-address-box .icon-shanchu {
  display: block;
}

.history.more-address-box .title-p {
  font-size: 16px;
  margin-bottom: 5px;
  padding-left: 15px;
}

.label-city.am-list-item .am-list-line,
.history-list .am-list-item .am-list-line {
  padding-right: 0;
}

.history-list .am-list-extra .icon-shanchu {
  padding-right: 15px;
}

.label-city .am-input-extra .icon-dituzhaofang {
  display: block;
  padding-right: 10px;
}

.select-address-list .icon-dingwei {
  font-size: 20px;
}

.index-address {
  max-width: 250px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #fff;
}

.select-address .am-navbar-title {
  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.common-address {
  background-color: #f0f0f0;
  height: 100%;
  position: absolute;
  width: 100%;
}

.common-address .common .title {
  font-size: 16px;
  margin-bottom: 5px;
  padding-left: 15px;
}

.common-addr-list .am-list-item .am-list-line {
  padding-right: 15px;
}

.common-addr-list .am-list-extra {
  margin-left: 0.3rem;
}

.common-addr-list .am-list-extra .iconfont {
  font-size: 20px;
}

.history-list.common-addr-list .am-list-extra .icon-shanchu {
  padding-right: 0;
}

.common-addr-list .am-list-thumb {
  font-size: 14px;
  line-height: 20px;
}

.common-addr-list.first .am-list-thumb {
  width: 60px;
  margin-right: 5px;
}

.common-addr-list .am-list-thumb .iconfont {
  font-size: 20px;
  margin-right: 5px;
}

.common-addr-list .am-list-item .am-list-line .am-list-content {
  font-size: 14px;
}

.common-address .am-navbar-right {
  color: #000;
}

.common-address .am-navbar-right .icon-dituzhaofang {
  font-size: 20px;
  margin-right: 5px;
}

.WorksDetails .am-navbar-left {
  -webkit-box-flex: 0.2;
  -webkit-flex: 0.2;
  -ms-flex: 0.2;
  flex: 0.2;
}

.WorksDetails .am-navbar-right {
  -webkit-box-flex: 0.4;
  -webkit-flex: 0.4;
  -ms-flex: 0.4;
  flex: 0.4;
}

.WorksDetails .am-navbar-title {
  overflow: hidden;
  -webkit-box-pack: left;
  -webkit-justify-content: left;
  -ms-flex-pack: left;
  justify-content: left;
}

.WorksDetails .am-navbar-title img {
  width: 40px;
  height: 40px;
  border-radius: 100%;
}

.WorksDetails .am-navbar {
  border-bottom: 0.02rem solid #ccc;
}

.works-base-info {
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
}

.works-base-info .am-flexbox-item {
  font-size: 16px;
  color: #555;
  margin: 10px 0 0;
}

.works-base-info .am-flexbox-item .iconfont {
  padding-right: 0.1rem;
  padding-left: 0.2rem;
  font-size: 16px;
  font-weight: 700;
}

.works-base-info .am-flexbox-item.right {
  text-align: right;
}

.WorksDetails .works-title {
  font-size: 16px;
  text-align: center;
  margin: 10px 0 5px;
  font-weight: 700;
  color: #555;
}

.WorksDetails .content-box {
  line-height: 1.6;
  white-space: pre-wrap;
  font-size: 14px;
  color: #555;
  width: 100%;
  overflow: hidden;
}

.attachment-box .mb-img {
  width: 100%;
  height: auto;
  margin-top: 10px;
}

.WorksDetails .avatar-name {
  color: #17A9DE;
  margin-left: 5px;
}

.works-details.bottom-features .am-flexbox-item:last-child {
  font-size: 12px;
  line-height: 1;
}

.designerComment .popup-comment-input-box {
  z-index: 2;
}

.comment-item .comment-top .user-name {
  margin-bottom: 5px;
}

.comment-item .context .text {
  line-height: 1.3;
}

.comment-item .comment-like-box {
  line-height: 1.3;
}

.comment-reply-box .reply-line {
  line-height: 1.3;
}

.WorksDetails .works-details-navbar-title {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.settings-page .am-navbar {
  border-bottom: 0.02rem solid #ccc;
}

.settings-page {
  background-color: #f0f0f0;
  height: 100%;
  position: absolute;
  width: 100%;
}

.settings-more .am-list-item {
  border-bottom: 0.02rem solid #ddd;
}

.settings-sign-out .am-list-item .am-list-line .am-list-content {
  text-align: center;
  color: red;
}

.change-password-page .am-navbar {
  border-bottom: 0.02rem solid #ccc;
}

.change-password-page {
  background-color: #f0f0f0;
  height: 100%;
  position: absolute;
  width: 100%;
}

.change-password-list .am-list-item {
  border-bottom: 0.02rem solid #ddd;
}

.change-password-list .am-list-item .am-input-label.am-input-label-5 {
  width: 30px;
}

.change-password-list .iconfont {
  font-size: 20px;
}

.change-password-list .am-list-body .am-list-item:last-child {
  border-bottom: 0.02rem solid #ddd;
}

.feedback-page .title {
  color: #000;
  font-size: 17px;
  margin-bottom: 5px;
  margin-top: 10px;
  margin-left: 15px;
}

.about-us-page .about-us-p {
  font-size: 14px;
  color: #000;
  line-height: 2;
}

.about-us-page .am-navbar {
  border-bottom: 0.02rem solid #ccc;
}

.important.about-us-p {
  color: red;
  margin: 10px 0 20px;
}

.body.about-us-p {
  text-indent: 2em;
}

.activity-page {
  background-color: #f2f2f2;
  height: 100%;
  position: absolute;
  width: 100%;
}

.activity-page .activity-page-box {
  background-color: #fff;
}

.activity-page .activity-img {
  width: 100%;
}

.activity-page-box .flex-item-right {
  -webkit-box-flex: 2;
  -webkit-flex: 2;
  -ms-flex: 2;
  flex: 2;
}

.activity-page-box .activity-item {
  height: 100px;
  overflow: hidden;
  padding-top: 0.2rem;
}

.activity-item .bottom .single {
  display: inline-block;
  overflow: hidden;
  color: #878787;
  height: 20px;
  font-size: 12px;
}

.activity-item .bottom .single.one {
  width: 40%;
}

.activity-item .bottom .single.tow {
  width: 30%;
}

.activity-item .bottom .icon-location {
  color: #33a3ff;
}

.activity-item .bottom .single.three {
  width: 30%;
  text-align: right;
}

.activity-item .bottom .number {
  color: #0100d3;
}

.activity-item .flex-item-right .title {
  font-size: 16px;
  padding-top: 5px;
}

.activity-item .flex-item-right .sponsor {
  font-size: 14px;
  color: #888;
  padding: 7px 0;
}

.black-list-page {
  background-color: #f2f2f2;
  height: 100%;
  position: absolute;
  width: 100%;
}

.black-list-main {
  background-color: #fff;
  margin-top: 10px;
}

.black-list-main .black-item {
  height: 60px;
  overflow: hidden;
  padding: 5px 0;
  border-bottom: 1px solid #ddd;
}

.black-list-main .black-item:last-child {
  border-bottom: none;
}

.black-list-main .black-img {
  width: 56px;
  height: 56px;
  border-radius: 100%;
}

.black-item .flex-item-middle {
  -webkit-box-flex: 3;
  -webkit-flex: 3;
  -ms-flex: 3;
  flex: 3;
  margin-left: 0px;
}

.black-item .flex-item-right {
  -webkit-box-flex: 0.7;
  -webkit-flex: 0.7;
  -ms-flex: 0.7;
  flex: 0.7;
}

.black-item .remove-black-list {
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  font-size: 16px;
  background-color: #eee;
  border-radius: 100%;
}

.black-item .black-p-title {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 5px;
}

.black-item .black-p-middle {
  font-size: 14px;
  color: #999;
}

.black-list-main .fans-bottom {
  padding: 5px 0;
  text-align: center;
  border: 1px solid #0b83d8;
  border-radius: 20px;
  color: #0b83d8;
}

.set-up-page {
  background-color: #f0f0f0;
  height: 100%;
  position: absolute;
  width: 100%;
}

.account-settings .am-list-header {
  font-size: 16px;
  color: #333;
}

.account-settings .settings-thumb {
  font-size: 16px;
}

.account-settings .am-list-item {
  border-bottom: 1px solid #eee;
}

.account-settings .am-list-item .am-list-line .am-list-extra {
  -webkit-flex-basis: 20%;
  -ms-flex-preferred-size: 20%;
  flex-basis: 20%;
}

.account-settings .am-list-extra .icon-bianji {
  font-size: 18px;
  color: #0b83d8;
}

.set-up-modal .self-important-info {
  border: 1px solid #ccc;
  margin: 10px 0;
}

.perfect-info-page {
  background-color: #f0f0f0;
  height: 100%;
  position: absolute;
  width: 100%;
}

.perfect-info-page .avatar-list .perfect-info-avatar {
  height: 50px;
  width: 50px;
  border-radius: 100%;
}

.perfect-info-main .am-list-item {
  border-bottom: 1px solid #ddd;
}

.perfect-info-more .am-list-item {
  border-bottom: 1px solid #ddd;
}

.perfect-info-more .info-thumb {
  font-size: 17px;
}

.avatar-list .avatar-input {
  position: relative;
}

.avatar-list .avatar-input .img-input {
  width: 50px;
  height: 50px;
  position: absolute;
  opacity: 0;
  z-index: 2;
}
