@import "./common";

.barBottom {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 1.4rem;
    background-color: #f5f5f5;
    .am-tab-bar-bar {
        height: 1.4rem;
    }
}

.navPlus {
    .navPlusAnim {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 100;
        background-color: #fff;
        .fourWrap {
            overflow: hidden;
            text-align: center;
            width: 7.52rem;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            -ms-transform:translate(-50%,-50%); 	/* IE 9 */
            -moz-transform:translate(-50%,-50%); 	/* Firefox */
            -webkit-transform:translate(-50%,-50%); /* Safari 和 Chrome */
            -o-transform:translate(-50%,-50%); 
            li {
                width: 2.506667rem;
                float: left;
                margin: .266667rem .613333rem;
                font-size: 14px;
                img {
                    width: 100%;
                }
            }
        }
        span {
            position: absolute;
            bottom:.266667rem;
            left: 50%;
            transform: translate(-50%);
            -ms-transform:translate(-50%); 	/* IE 9 */
            -moz-transform:translate(-50%); 	/* Firefox */
            -webkit-transform:translate(-50%); /* Safari 和 Chrome */
            -o-transform:translate(-50%); 
            bottom: .4rem;
            font-size: 32px;
            display: inline-block;
            color: #F2683F;
        }
    }
}
.topMargin {
    margin-top: 8%;
}
//login
.loginWrap {
    background-color: #fff;
    padding: 0 1rem;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    .loginIn {
        .loginCenter {
            .loginLogo {
                text-align: center;
                height: 3.2rem;
                img {
                    height: 100%;
                }
            }
            .bindthree {
                margin-top: .266667rem;
                text-align: center;
                h3 {
                    font-size: 22px;
                }
                p {
                    color: #808080;
                }
            }
            .loginIpt {
                //login 组件
                .am-list-item .am-input-label.am-input-label-5 {
                    @include font-dpr(14PX);
                    width: .666667rem;
                }
                .am-list-item .am-input-control input {
                    @include font-dpr(14PX);
                    position: relative;
                    top: .04rem;
                }
                .am-list-item.am-input-item {
                    height: .933333rem;
                    line-height: .533333rem;
                    margin: .4rem 0 0  0;
                    border-bottom: 1PX solid #CBCBCB;
                    position: relative;
                }
                .am-list-item.am-input-item.yzm input {
                    width: 4rem;
                }
                i {
                    @include font-dpr(22PX);
                    color: #25B5FB;
                    display: inline-block;
                    position: relative;
                    top: .04rem;
                }
                i.phone {
                    margin-left: .066667rem;
                }
                .am-input-error-extra {
                    width: .4rem;
                    height: .4rem;
                    background-size:.4rem .4rem;
                    background-repeat: no-repeat;
                }
                .getCode {
                    position: absolute;
                    right: 0;
                    top: -.4rem;
                    height: .666667rem;
                    line-height: .613333rem;
                    border-radius: .333333rem;
                    margin-top: .666667rem;
                    background-color: #fff;
                    border: 1Px solid #6CC9F0;
                    color: #6CC9F0;
                    font-size: 12px;
                }
            }
            .am-list-body {
                border: 0 none;
                .am-list-item:not(:last-child) .am-list-line {
                    border: 0 none;
                }
            }
            .am-button {
                height: 1.2rem;
                line-height: 1.2rem;
                border-radius: .133333rem;
                margin-top: .266667rem;
                background-color: #00A0E9;
                @include font-dpr(18PX);
            }
            .loginBtn.am-button {
                margin-top: .533333rem;
            }
            .noAccount {
                margin-top: .106667rem;
            }
            .agreeRulesColor {
                color: #0096ff;
            }
            .registerCheckbox {
                margin-left: 0;
                .am-checkbox-agree-label {
                    font-size: 12px;
                    margin-left: .426667rem;
                    .am-checkbox {
                        .am-checkbox-inner {
                            width: 15px;
                            height: 15px;
                            &:after {
                                right: 3px;
                                top: 0px;
                                height: 8px;
                            }
                        }
                    }
                }
            } 
        }
    }
}
.loginWrap.bindWrap {
    position: absolute;
    top: 48%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}
.loginThree {
    position: absolute;
    bottom: .133333rem;
    left: 0;            
    width: 100%;
    padding: 0 .933333rem;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    .loginThreeLine {
        color: #C4C4C4;
        margin-bottom: .4rem;
        span {
            width: 2.666667rem;
            height: 1PX;
            margin-top: .133333rem;
            display: inline-block;
            background-color: #DBE0E7;
        }
    }
    .loginThreeBottom {
        @include  font-dpr(14PX);
        ul {
            li {
                float: left;
                width: 33.3333%;
                i {
                    @include  font-dpr(18PX);
                    vertical-align: middle;
                }
            }
            .wx {
                i,a {
                    color: #00CE37;
                }
            }
            .qq {
                i,a {
                    color: #00BAE1;
                }
            }
            .wb {
                i,a {
                    color: #DE4943;
                }
            }
        }
    }
}           
.forgetNav {
    position: fixed;
    top: 0;
    height:1.2rem;
    width: 100%;
    border-bottom:1px solid #E3E3E3;
    z-index:100;
}
.homeWrap {
    .am-wingblank.am-wingblank-lg {
        margin: 0;
    }
    .lanternLis {
        li {
            img {
                height: 3.2rem ;
            }
        }
        .fourAvt {
            border-bottom: 1px solid #cccccc;     
            padding: .266667rem;       
            ul {
                overflow: hidden;
                li {
                    text-align: center;
                    width: 25%;
                    float: left;
                    color:#949494;
                    img {
                        width: 1.333333rem;
                        height: 1.333333rem;
                    }
                }
            }
        }
    }
    .homeWrapTop {
        height: 4.533333rem;
        width: 100%;
        background: url('../images/mainTop.png') no-repeat center center / 100% 100%;
        font-size: 16px;
        a {
            color: #fff;        
        }
        .indexNav {
            .am-navbar-light {
                background-color: transparent;
                .am-navbar-right {
                    .searchAll {
                        width: .6rem;
                        height: .6rem;
                        line-height: .6rem;
                        text-align: center;
                        border: 2px solid #fff;
                        border-radius: 50%;
                        i {
                            color: #fff;
                        }  
                    }
                }
            }
        }
        .hometabs {
            height: 2.133333rem;
            color: #fff;
            margin-top: .32rem;
            .am-tabs-default-bar {
                // background-color: !important;
                .am-tabs-default-bar-tab{
                    line-height: 1;
                    height: auto;
                    padding: 0;
                    .tabsList {
                        width: 100%;
                        text-align: center;
                        float: left;
                        img {
                            height: 1.2rem;
                            width: 1.2rem;
                        }
                        p {
                            line-height: 14px;
                            margin-top: .133333rem;
                            font-size: 12px;
                        }
                    }
                }
                .am-tabs-default-bar-prevpage,
                .am-tabs-default-bar-nextpage {
                    display: none;
                }
            }
        }
    }
    #hkCircle {
        .items {
            border-bottom: 1px solid #cccccc;
        }
        .itemPicList {
            // padding-bottom: .266667rem;
            // border-bottom: 1px dotted #dedcdc;
            p {
                line-height: .746667rem;
            }
            ul {
                li {
                    width: 31%;
                    height: 2.4rem;
                }
            }
        }
    }
    .homeWrapMain {
        .items {
            padding: .266667rem;
            .itemsTop {
                padding:.2rem;
                overflow: hidden;
                box-sizing: border-box;
                border-bottom: 1px dotted #dedcdc;
                .itemsTopPic {
                    overflow: hidden;
                    img {
                        width: 1.2rem;
                        height: 1.2rem;
                    }
                }
                .itemsTopRight {
                    margin-left: 1.6rem;
                    p {
                        overflow: hidden;
                        line-height:.64rem;
                    }
                    .personalMsg {
                        color: #949494;                        
                    }
                }
            }
            .itemPicList {
                ul {
                    overflow: hidden;
                    margin-top: .133333rem;
                    li {
                        width: 47.5%;
                        height: 3.306667rem;
                        float: left;
                        margin: 0 .106667rem .106667rem .106667rem;
                        overflow: hidden;
                        img {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
    html:not([data-scale]) .am-list-body::before,
    html:not([data-scale]) .am-list-body::after,
    html:not([data-scale]) .am-button-ghost::before,
    html:not([data-scale]) .am-tabs-default-bar-top .am-tabs-default-bar-tab::after,
    html:not([data-scale]) .am-list-item:not(:last-child) .am-list-line::after{
        background-color: transparent !important;
        z-index: -1;
    }
}

.flex-city .am-flexbox-item .am-list-line .am-list-content{
  text-align: center;
}
.flex-city .sub-title {
    margin-top: .26rem;
    margin-bottom: .26rem;
    font-size: .3rem;
}

@import './designerHome.scss';
@import './comment.scss';