@charset "UTF-8";
@import url(h:\罗磊\mhuake\mhkw\src\css\base.css);
.barBottom {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 1.333333rem;
  border-top: 1PX solid #E3E3E4;
  background-color: #f5f5f5;
}

.barBottom ul {
  margin-top: 0;
}

.barBottom ul li {
  width: 20%;
  float: left;
  text-align: center;
}

.barBottom ul li a {
  color: #333;
  color: #333;
}

.barBottom ul li a:hover {
  color: #3ebbf3;
}

.barBottom ul li a i {
  width: .8rem;
  height: .8rem;
  display: block;
  margin: .053333rem auto .026667rem auto;
}

.barBottom ul li a span {
  font-size: 12PX;
}

[data-dpr="2"] .barBottom ul li a span {
  font-size: 24PX;
}

[data-dpr="3"] .barBottom ul li a span {
  font-size: 36PX;
}

.barBottom ul li a .picSize1 {
  background: url("../images/tabbar_one_close@3x.png") center center/0.8rem 0.8rem no-repeat;
}

.barBottom ul li a .picSize1:hover {
  background: url("../images/tabbar_one_on@3x.png") center center/0.8rem 0.8rem no-repeat;
}

.barBottom ul li a .picSize2 {
  background: url("../images/tabbar_two_close@3x.png") center center/0.8rem 0.8rem no-repeat;
}

.barBottom ul li a .picSize2:hover {
  background: url("../images/tabbar_two_on@3x.png") center center/0.8rem 0.8rem no-repeat;
}

.barBottom ul li a .picSize3 {
  width: 1.12rem;
  height: 1.12rem;
  -webkit-box-shadow: inset 0 0 0 .08rem #e5e5e5;
  -moz-box-shadow: inset 0 0 0 .08rem #e5e5e5;
  box-shadow: inset 0 0 0 .08rem #e5e5e5;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background: url("../images/add.png") center center/1.12rem 1.12rem no-repeat;
}

.barBottom ul li a .picSize4 {
  background: url("../images/tabbar_three_close@3x.png") center center/0.8rem 0.8rem no-repeat;
}

.barBottom ul li a .picSize4:hover {
  background: url("../images/tabbar_three_close@3x.png") center center/0.8rem 0.8rem no-repeat;
}

.barBottom ul li a .picSize5 {
  background: url("../images/tabbar_four_close@3x.png") center center/0.8rem 0.8rem no-repeat;
}

.barBottom ul li a .picSize5:hover {
  background: url("../images/tabbar_four_on@3x.png") center center/0.8rem 0.8rem no-repeat;
}

.navPlus .navPlusAnim {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background-color: #fff;
}

.navPlus .navPlusAnim .fourWrap {
  overflow: hidden;
  text-align: center;
  width: 7.52rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  /* IE 9 */
  -moz-transform: translate(-50%, -50%);
  /* Firefox */
  -webkit-transform: translate(-50%, -50%);
  /* Safari 和 Chrome */
  -o-transform: translate(-50%, -50%);
}

.navPlus .navPlusAnim .fourWrap li {
  width: 2.506667rem;
  float: left;
  margin: .266667rem .613333rem;
  font-size: 14px;
}

.navPlus .navPlusAnim .fourWrap li img {
  width: 100%;
}

.navPlus .navPlusAnim span {
  position: absolute;
  bottom: .266667rem;
  left: 50%;
  transform: translate(-50%);
  -ms-transform: translate(-50%);
  /* IE 9 */
  -moz-transform: translate(-50%);
  /* Firefox */
  -webkit-transform: translate(-50%);
  /* Safari 和 Chrome */
  -o-transform: translate(-50%);
  bottom: .4rem;
  font-size: 32px;
  display: inline-block;
  color: #F2683F;
}

.topMargin {
  margin-top: 8%;
}

.loginWrap {
  background-color: #fff;
  padding: 0 1rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.loginWrap .loginIn .loginCenter .loginLogo {
  text-align: center;
  height: 3.2rem;
}

.loginWrap .loginIn .loginCenter .loginLogo img {
  height: 100%;
}

.loginWrap .loginIn .loginCenter .bindthree {
  margin-top: .266667rem;
  text-align: center;
}

.loginWrap .loginIn .loginCenter .bindthree h3 {
  font-size: 22px;
}

.loginWrap .loginIn .loginCenter .bindthree p {
  color: #808080;
}

.loginWrap .loginIn .loginCenter .loginIpt .am-list-item .am-input-label.am-input-label-5 {
  font-size: 14PX;
  width: .666667rem;
}

[data-dpr="2"] .loginWrap .loginIn .loginCenter .loginIpt .am-list-item .am-input-label.am-input-label-5 {
  font-size: 28PX;
}

[data-dpr="3"] .loginWrap .loginIn .loginCenter .loginIpt .am-list-item .am-input-label.am-input-label-5 {
  font-size: 42PX;
}

.loginWrap .loginIn .loginCenter .loginIpt .am-list-item .am-input-control input {
  font-size: 14PX;
  position: relative;
  top: .04rem;
}

[data-dpr="2"] .loginWrap .loginIn .loginCenter .loginIpt .am-list-item .am-input-control input {
  font-size: 28PX;
}

[data-dpr="3"] .loginWrap .loginIn .loginCenter .loginIpt .am-list-item .am-input-control input {
  font-size: 42PX;
}

.loginWrap .loginIn .loginCenter .loginIpt .am-list-item.am-input-item {
  height: .933333rem;
  line-height: .533333rem;
  margin: .4rem 0 0  0;
  border-bottom: 1PX solid #CBCBCB;
  position: relative;
}

.loginWrap .loginIn .loginCenter .loginIpt .am-list-item.am-input-item.yzm input {
  width: 4rem;
}

.loginWrap .loginIn .loginCenter .loginIpt i {
  font-size: 22PX;
  color: #25B5FB;
  display: inline-block;
  position: relative;
  top: .04rem;
}

[data-dpr="2"] .loginWrap .loginIn .loginCenter .loginIpt i {
  font-size: 44PX;
}

[data-dpr="3"] .loginWrap .loginIn .loginCenter .loginIpt i {
  font-size: 66PX;
}

.loginWrap .loginIn .loginCenter .loginIpt i.phone {
  margin-left: .066667rem;
}

.loginWrap .loginIn .loginCenter .loginIpt .am-input-error-extra {
  width: .4rem;
  height: .4rem;
  background-size: .4rem .4rem;
  background-repeat: no-repeat;
}

.loginWrap .loginIn .loginCenter .loginIpt .getCode {
  position: absolute;
  right: 0;
  top: -.4rem;
  height: .666667rem;
  line-height: .613333rem;
  border-radius: .333333rem;
  margin-top: .666667rem;
  background-color: #fff;
  border: 1Px solid #6CC9F0;
  color: #6CC9F0;
  font-size: 12px;
}

.loginWrap .loginIn .loginCenter .am-list-body {
  border: 0 none;
}

.loginWrap .loginIn .loginCenter .am-list-body .am-list-item:not(:last-child) .am-list-line {
  border: 0 none;
}

.loginWrap .loginIn .loginCenter .am-button {
  height: 1.2rem;
  line-height: 1.2rem;
  border-radius: .133333rem;
  margin-top: .266667rem;
  background-color: #00A0E9;
  font-size: 18PX;
}

[data-dpr="2"] .loginWrap .loginIn .loginCenter .am-button {
  font-size: 36PX;
}

[data-dpr="3"] .loginWrap .loginIn .loginCenter .am-button {
  font-size: 54PX;
}

.loginWrap .loginIn .loginCenter .loginBtn.am-button {
  margin-top: .533333rem;
}

.loginWrap .loginIn .loginCenter .noAccount {
  margin-top: .106667rem;
}

.loginWrap .loginIn .loginCenter .agreeRulesColor {
  color: #0096ff;
}

.loginWrap .loginIn .loginCenter .registerCheckbox {
  margin-left: 0;
}

.loginWrap .loginIn .loginCenter .registerCheckbox .am-checkbox-agree-label {
  font-size: 12px;
  margin-left: .426667rem;
}

.loginWrap .loginIn .loginCenter .registerCheckbox .am-checkbox-agree-label .am-checkbox .am-checkbox-inner {
  width: 15px;
  height: 15px;
}

.loginWrap .loginIn .loginCenter .registerCheckbox .am-checkbox-agree-label .am-checkbox .am-checkbox-inner:after {
  right: 3px;
  top: 0px;
  height: 8px;
}

.loginWrap.bindWrap {
  position: absolute;
  top: 48%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

.loginThree {
  position: absolute;
  bottom: .133333rem;
  left: 0;
  width: 100%;
  padding: 0 .933333rem;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.loginThree .loginThreeLine {
  color: #C4C4C4;
  margin-bottom: .4rem;
}

.loginThree .loginThreeLine span {
  width: 2.666667rem;
  height: 1PX;
  margin-top: .133333rem;
  display: inline-block;
  background-color: #DBE0E7;
}

.loginThree .loginThreeBottom {
  font-size: 14PX;
}

[data-dpr="2"] .loginThree .loginThreeBottom {
  font-size: 28PX;
}

[data-dpr="3"] .loginThree .loginThreeBottom {
  font-size: 42PX;
}

.loginThree .loginThreeBottom ul li {
  float: left;
  width: 33.3333%;
}

.loginThree .loginThreeBottom ul li i {
  font-size: 18PX;
  vertical-align: middle;
}

[data-dpr="2"] .loginThree .loginThreeBottom ul li i {
  font-size: 36PX;
}

[data-dpr="3"] .loginThree .loginThreeBottom ul li i {
  font-size: 54PX;
}

.loginThree .loginThreeBottom ul .wx i, .loginThree .loginThreeBottom ul .wx a {
  color: #00CE37;
}

.loginThree .loginThreeBottom ul .qq i, .loginThree .loginThreeBottom ul .qq a {
  color: #00BAE1;
}

.loginThree .loginThreeBottom ul .wb i, .loginThree .loginThreeBottom ul .wb a {
  color: #DE4943;
}

.forgetNav {
  position: fixed;
  top: 0;
  height: 1.2rem;
  width: 100%;
  border-bottom: 1px solid #E3E3E3;
  z-index: 100;
}

.homeWrap .am-wingblank.am-wingblank-lg {
  margin: 0;
}

.homeWrap .lanternLis li img {
  height: 3.2rem;
}

.homeWrap .lanternLis .fourAvt {
  border-bottom: 1px solid #cccccc;
  padding: .266667rem;
}

.homeWrap .lanternLis .fourAvt ul {
  overflow: hidden;
}

.homeWrap .lanternLis .fourAvt ul li {
  text-align: center;
  width: 25%;
  float: left;
  color: #949494;
}

.homeWrap .lanternLis .fourAvt ul li img {
  width: 1.333333rem;
  height: 1.333333rem;
}

.homeWrap .homeWrapTop {
  height: 4.533333rem;
  width: 100%;
  background: url("../images/mainTop.png") no-repeat center center/100% 100%;
  font-size: 16px;
}

.homeWrap .homeWrapTop a {
  color: #fff;
}

.homeWrap .homeWrapTop .indexNav .am-navbar-light {
  background-color: transparent;
}

.homeWrap .homeWrapTop .indexNav .am-navbar-light .am-navbar-right .searchAll {
  width: .6rem;
  height: .6rem;
  line-height: .6rem;
  text-align: center;
  border: 2px solid #fff;
  border-radius: 50%;
}

.homeWrap .homeWrapTop .indexNav .am-navbar-light .am-navbar-right .searchAll i {
  color: #fff;
}

.homeWrap .homeWrapTop .hometabs {
  height: 2.133333rem;
  color: #fff;
  margin-top: .32rem;
}

.homeWrap .homeWrapTop .hometabs .am-tabs-default-bar .am-tabs-default-bar-tab {
  line-height: 1;
  height: auto;
  padding: 0;
}

.homeWrap .homeWrapTop .hometabs .am-tabs-default-bar .am-tabs-default-bar-tab .tabsList {
  width: 100%;
  text-align: center;
  float: left;
}

.homeWrap .homeWrapTop .hometabs .am-tabs-default-bar .am-tabs-default-bar-tab .tabsList img {
  height: 1.2rem;
  width: 1.2rem;
}

.homeWrap .homeWrapTop .hometabs .am-tabs-default-bar .am-tabs-default-bar-tab .tabsList p {
  line-height: 14px;
  margin-top: .133333rem;
  font-size: 12px;
}

.homeWrap .homeWrapTop .hometabs .am-tabs-default-bar .am-tabs-default-bar-prevpage,
.homeWrap .homeWrapTop .hometabs .am-tabs-default-bar .am-tabs-default-bar-nextpage {
  display: none;
}

.homeWrap #hkCircle .items {
  border-bottom: 1px solid #cccccc;
}

.homeWrap #hkCircle .itemPicList p {
  line-height: .746667rem;
}

.homeWrap #hkCircle .itemPicList ul li {
  width: 31%;
  height: 2.4rem;
}

.homeWrap .homeWrapMain .items {
  padding: .266667rem;
}

.homeWrap .homeWrapMain .items .itemsTop {
  padding: .2rem;
  overflow: hidden;
  box-sizing: border-box;
  border-bottom: 1px dotted #dedcdc;
}

.homeWrap .homeWrapMain .items .itemsTop .itemsTopPic {
  overflow: hidden;
}

.homeWrap .homeWrapMain .items .itemsTop .itemsTopPic img {
  width: 1.2rem;
  height: 1.2rem;
}

.homeWrap .homeWrapMain .items .itemsTop .itemsTopRight {
  margin-left: 1.6rem;
}

.homeWrap .homeWrapMain .items .itemsTop .itemsTopRight p {
  overflow: hidden;
  line-height: .64rem;
}

.homeWrap .homeWrapMain .items .itemsTop .itemsTopRight .personalMsg {
  color: #949494;
}

.homeWrap .homeWrapMain .items .itemPicList ul {
  overflow: hidden;
  margin-top: .133333rem;
}

.homeWrap .homeWrapMain .items .itemPicList ul li {
  width: 47.5%;
  height: 3.306667rem;
  float: left;
  margin: 0 .106667rem .106667rem .106667rem;
  overflow: hidden;
}

.homeWrap .homeWrapMain .items .itemPicList ul li img {
  width: 100%;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  html:not([data-scale]) .am-list-body::before,
  html:not([data-scale]) .am-list-body::after,
  html:not([data-scale]) .am-button-ghost::before,
  html:not([data-scale]) .am-tabs-default-bar-top .am-tabs-default-bar-tab::after,
  html:not([data-scale]) .am-list-item:not(:last-child) .am-list-line::after {
    background-color: transparent !important;
    z-index: -1;
  }
}

.flex-city .am-flexbox-item .am-list-line .am-list-content {
  text-align: center;
}

.flex-city .sub-title {
  margin-top: .26rem;
  margin-bottom: .26rem;
  font-size: .3rem;
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.ellipsis-lines {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}

.designer-home {
  background-color: #fff;
}

.NewNavBar .am-navbar-left {
  padding-left: 0px;
}

.designer-home .avatar-box {
  width: 1.866667rem;
  height: 1.866667rem;
  border-radius: 100%;
  margin: 0 auto;
  overflow: hidden;
}

.designer-home img {
  max-width: 1.866667rem;
  min-height: 1.866667rem;
}

.designer-home .brief-box-out {
  text-align: center;
  font-size: 18px;
  margin: 0 .4rem;
  border-bottom: 1px dashed #9e9e9e;
  margin-bottom: .293333rem;
}

.brief-box-out .nick-name .iconfont {
  font-size: 20px;
  margin-left: .133333rem;
  vertical-align: sub;
  color: #ff6f8a;
}

.brief-more-flex.am-flexbox,
.brief-data-flex.am-flexbox {
  margin: 0 auto;
}

.brief-more-flex.am-flexbox .am-flexbox-item {
  text-align: center;
  font-size: 14px;
}

.brief-more-flex.am-flexbox .am-flexbox-item .iconfont {
  margin-right: .066667rem;
  font-size: 18px;
}

.brief-box-out .slogan {
  font-size: 14px;
  margin-top: .346667rem;
  margin-bottom: .666667rem;
  color: #9e9e9e;
}

.brief-data-flex.am-flexbox .am-flexbox-item {
  text-align: center;
}

.brief-data-flex .text {
  margin-top: .133333rem;
  margin-bottom: .8rem;
}

.brief-box-out .brief-box-out-bottom {
  color: #9e9e9e;
  font-size: 18px;
  width: 2.5rem;
  margin: 0 auto;
  position: relative;
  bottom: -14px;
  height: 28px;
  line-height: 28px;
  background-color: #fff;
}

.designer-home .huake-info-box {
  margin: 0 .666667rem;
  font-size: 16px;
  color: #707070;
  text-align: justify;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 6;
  overflow: hidden;
  margin-bottom: 1rem;
}

.designer-home .brief-comment-flex {
  font-size: 20px;
  color: #aaa;
}

.designer-home .brief-comment-flex .active {
  color: #499fd8;
}

.designer-home .brief-comment-flex .active .txt {
  color: #499fd8;
}

.designer-home .brief-comment-flex .txt {
  color: #595959;
}

.flex-city .am-list-item {
  background-color: #f5f5f9;
}

.flex-city .am-list-item.am-list-item-active {
  background-color: #ccc;
}

.info .icon-wujiaoxing {
  color: #ccc;
}

.info .icon-wujiaoxing.light {
  color: #409ad6;
}

.comment-item {
  padding: 10px 15px 0;
  margin: .266667rem 0 .4rem;
}

.comment-item .user-pic {
  float: left;
  width: 1rem;
  margin-right: 15px;
}

.comment-item .user-img {
  width: 1rem;
  height: 1rem;
  border-radius: 100%;
}

.comment-item .comment-top {
  margin-left: 1.2rem;
  height: 1.2rem;
}

.comment-item .comment-top .scoreTitle {
  color: #6d6d6d;
  margin-right: .133333rem;
}

.comment-item .context .text {
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  overflow: hidden;
  color: #6d6d6d;
  font-size: 14px;
}

.comment-item .context .get-all {
  display: inline-block;
  padding: .066667rem;
  color: #409ad6;
}

.comment-item .dishPic {
  margin-top: .266667rem;
  overflow: auto;
}

.comment-item .dishPic .imgFrame {
  font-size: 0;
  width: 30%;
  margin: 0 .08rem;
  box-sizing: border-box;
  margin-bottom: .08rem;
  float: left;
  position: relative;
  overflow: hidden;
}

.comment-item .dishPic .imgFrame:after {
  content: '';
  display: block;
  margin-top: 100%;
  /* margin 百分比相对父元素宽度计算 */
}

.comment-item .dishPic .imgFrame img {
  position: absolute;
  height: 100%;
  transform: translateX(-50%);
  left: 50%;
}

.comment-item .bottom-box {
  margin-top: .2rem;
  color: #ccc;
  font-size: 14px;
  padding-bottom: 5px;
  border-bottom: 1px dashed #ccc;
}

.comment-item .bottom-box .time {
  vertical-align: sub;
}

.comment-item .bottom-box .comment-icon {
  float: right;
  position: relative;
}

.comment-item .bottom-box .comment-icon span {
  margin: .133333rem;
  font-size: 16px;
}

.comment-item .bottom-box .comment-icon .dashed-arrow {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: #fff;
  border-top: 1px dashed #ccc;
  border-left: 1px dashed #ccc;
  transform: rotate(45deg);
  position: absolute;
  left: 0;
  right: 0;
  bottom: -10px;
  margin: 0 auto;
}

.comment-item .comment-like-box {
  padding: .133333rem;
  padding-bottom: 0;
  color: #409ad6;
  margin-top: .2rem;
  background-color: #eee;
}

.comment-item .comment-like-box .iconfont {
  float: left;
  margin-right: .066667rem;
}

.comment-item .comment-like-box .like-user li {
  float: left;
}

.comment-item .comment-like-box .txt {
  float: left;
}

.comment-item .comment-reply-box {
  color: #555;
  padding: .133333rem;
  background-color: #eee;
}

.comment-reply-box .reply-line {
  padding: .066667rem 0;
  -webkit-tap-highlight-color: #504242;
}

.comment-reply-box .reply-line:active {
  background-color: #ccc;
}

.comment-reply-box .reply-line .origin {
  float: left;
  color: #409ad6;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
  font-size: 0;
}

.clearfix {
  *zoom: 1;
}

.popup-comment-input-box {
  border-top: 1px solid #bbb;
  background-color: #ddd;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.popup-comment-input-box .comment-input {
  background-color: transparent;
  width: 80%;
  width: 100%;
  padding-right: 1.8rem;
  box-sizing: border-box;
}

.popup-comment-input-box .comment-input textarea {
  min-height: 25px;
  border-bottom: 1px solid #409ad6;
}

.popup-comment-input-box .send-btn {
  position: absolute;
  right: .16rem;
  bottom: .16rem;
  font-size: 16px;
  display: inline-block;
  padding: .08rem .16rem;
  border-radius: 3px;
  border: 1px solid #999;
  background-color: #ccc;
  color: #999;
}
