.message-remind-page{
    height: 100%;
    // .message-remind-tabs{
    //     .am-tabs-default-bar{
    //         height: 43.5px;
    //         background-color: #f0f0f0!important;
    //         .am-tabs-default-bar-tab{
    //             height: inherit;
    //             color: #555;
    //             &.am-tabs-default-bar-tab-active{
    //                 color: #000;
    //             }
    //         }
    //         .am-tabs-default-bar-underline{
    //             border: 1px #a9a9a9 solid;
    //         }
    //     }
    // }
}

.remind-comment-page{
    // padding: 10px 14px;
    .item{
        padding: .4rem .266667rem .1rem;
        .item-avatar{
            float: left;
            width: 1rem;
            margin-right: .2rem;
            .remind-avatar{
                width: 1rem;
                height: 1rem;
                border-radius: 100%;
            }
        }
        .item-box{
            margin-left: 1.2rem;
            .item-box-top{
                font-size: 15px;
                margin-bottom: .213333rem;
                .name{
                    display: inline-block;
                    max-width: 50%;
                    color: #2c2c2c;
                }
                .tips{
                    color: #a5a5a5;
                    margin-left: .32rem;
                    vertical-align: text-top;
                }
                .time{
                    color: #bbb;
                    font-size: 13px;
                    float: right;
                    line-height: 18px;
                }
            }
            .item-box-content{
                font-size: 16px;
                color: #303030;
                margin-bottom: .266667rem;
                line-height: 1.4;
            }
            .item-box-source{
                color: #9a9a9a;
                font-size: 15px;
                padding: .266667rem;
                background-color: #fbf8f5;
                border: 1px solid #f7f3ef;
                border-radius: 3px;
                margin: .28rem 0;
                position: relative;
                .arrow{
                    display: inline-block;
                    width: 10px;
                    height: 10px;
                    background-color: #fbf8f5;
                    border-top: 1px solid #f7f3ef;
                    border-left: 1px solid #f7f3ef;
                    -webkit-transform: rotate(45deg);
                    -ms-transform: rotate(45deg);
                    transform: rotate(45deg);
                    position: absolute;
                    top: -6px;
                    left: 20px;
                }
            }
        }
        
    }
    .item::after{
        content: '';
        // position: absolute;
        // top: auto;
        // right: auto;
        // bottom: 0;
        // left: 0;
        background-color: #ddd;
        display: block;
        z-index: 1;
        width: 100%;
        height: 1PX;
        -webkit-transform-origin: 50% 100%;
        -ms-transform-origin: 50% 100%;
        transform-origin: 50% 100%;
        -webkit-transform: scaleY(0.5);
        -ms-transform: scaleY(0.5);
        transform: scaleY(0.5);
    }
}
.remind-see-me-page{
    .see-me-item{
        height: 60px;
        overflow: hidden;
        margin: .3rem .266667rem .2rem;
        .black-img{
            width: 50px;
            height: 50px;
            border-radius: 100%;
        }
        .black-p-title{
            margin-bottom: .213333rem;
            .name{
                display: inline-block;
                max-width: 50%;
                color: #2c2c2c;
                font-size: 16px;
                font-weight: bold;
            }
            .time{
                color: #bbb;
                font-size: 13px;
                float: right;
                line-height: 18px;
            }
        }
        .black-p-middle{
            .label{
                color: #bbb;
                font-size: 15px;
                margin-right: 10px;
            }
        }
    }
}
.remind-fabulous-page{
    .fabulous{
        font-size: 16px;
        color: #ff6588;
    }
}
.remind-system-notification-page{
    .icon-box{
        float: left;
        width: 1rem;
        height: 1rem;
        border-radius: 50%;
        background-color: #4ab9f3;
        text-align: center;
        margin-right: .2rem;
        .iconfont{
            line-height: 1.1rem;
            color: #fff;
            font-size: 20px;
        }
    }

}
.ellipsis{
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}