.perfect-info-page{
    background-color: #f0f0f0;
    height: 100%;
    position: absolute;
    width: 100%;
}
.perfect-info-page .avatar-list .perfect-info-avatar{
    height: 50px;
    width: 50px;
    border-radius: 100%;
}