.mineWrap .mineWrapTop {
  font-size: 18px;
}

.mineWrap .mineWrapTop p {
  text-align: center;
  height: 1rem;
  line-height: 1rem;
  position: relative;
}

.mineWrap .mineWrapTop p a {
  position: relative;
  color: #333333;
}

.mineWrap .mineWrapTop p a i {
  position: absolute;
  right: -16px;
}

.mineWrap .mineWrapTop p span {
  right: .4rem;
  font-size: 22px;
  position: absolute;
}

.mineWrap .minePic {
  margin-top: .2rem;
  margin-bottom: .4rem;
}

.mineWrap .minePic .minePicTou {
  width: 2.08rem;
  height: 2.08rem;
  margin: 0 auto;
  position: relative;
}

.mineWrap .minePic .minePicTou img {
  width: 100%;
  border-radius: 50%;
}

.mineWrap .minePic .minePicTou .minePicStages {
  width: 1.84rem;
  height: .693333rem;
  line-height: .693333rem;
  text-align: center;
  color: #fff;
  background: url(../images/personStage.png) no-repeat center center/1.84rem 0.69333rem;
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translateY(-50%);
  margin-left: -.22rem;
}

.mineWrap .minePic .minePicTou .minePicStages span {
  margin-left: .6rem;
}

.mineWrap .mineThingsTodo li {
  float: left;
  width: 33.33%;
  text-align: center;
  font-size: 14px;
}

.mineWrap .mineThingsTodo li p {
  line-height: 28px;
}

.mineWrap .mineThingsTodo li .num {
  font-size: 18px;
}
