.mineWrap {
    a { color:#333; }
    height: 100%;
    width: 100%;
    position: fixed;
    background-color: #F7F7F7;
    .mineWrapTop {
        font-size: 18px;
        background-color: #fff;
        p {
            text-align: center;
            height: 1rem;
            line-height: 1rem;
            position: relative;
            a {
                position: relative;
                color: #333333;
               i {
                    position: absolute;
                    right: -16px;
                } 
            }
            
            span {
                right: .2rem;
                font-size: 22px;
                position: absolute;
            }
        }
    }
    .minePic {
        background-color: #fff;
        padding-top: .2rem;
        padding-bottom: .4rem;
        .minePicTou {
            width: 2.08rem;
            height: 2.08rem;
            margin: 0 auto;
            position: relative;
            img {
                width: 100%;
                border-radius: 50%;
            }
            .minePicStages {
                width: 1.84rem;
                height: .693333rem;
                line-height: .693333rem;
                text-align: center;
                color: #fff;
                background: url(../images/personStage.png) no-repeat center center / 1.84rem .693333rem;
                position: absolute;
                top: 50%;
                left: 100%;
                transform: translateY(-50%);
                margin-left: -.22rem;
                span {
                    margin-left: .6rem;
                }
            }
        }
    }
    .mineThingsTodo {
        background-color: #fff;
        overflow: hidden;
        li {
            float: left;
            width: 33.33%;
            text-align: center;
            font-size: 14px;
            p {
                line-height: 28px;
            }
            .num {
                font-size: 18px;
            }
        }
    }
    
    .showAllList { 
        .ListItemBorder {
            border-bottom: 1px solid #EDEDED;
        }
        .ListItemLarge {
            height: 1.6rem;
        }
        .iconfont.desingerIcon {
            color: #9AD5ED;
            font-size: 30px;
        }
        .amlistitem {
            height: 1.3rem;
        }

        .iconfont {
            font-size: 24px;
        }
        .am-list-item .am-list-line .am-list-content {
            font-size: 14px;
        }
    }
    .personalMsgList {
        font-size: 12px !important;
        padding: 12px;
        .am-list-item {
            min-height: .746667rem;
            padding-left: .693333rem;
            .am-list-line {
                padding-right: .693333rem;                
               .am-list-extra {
                    font-size: 14px;
                    flex-basis: 55%;
                    color: #5E5E5E;
               }
               .am-list-content {
                    font-size: 14px;
                    color: #5E5E5E;                    
               }
            } 
        }
    }
}
.accountWrap {
    .accountWrapTop {
        height: 1.333333rem;
        line-height: 1.333333rem;
        background-color: #DEF3FA;
        p {
            text-align: center;
            font-size: 18px;
        }
    }
    .accountWrapMid {
        height: 2.666667rem;
        line-height: 2.5rem;
        text-align: center;
        font-size: 28px;
        i {
            font-size: 22px;
            display: inline-block;
            height: 1.733333rem;
            line-height: 1.733333rem;
            width: 1.733333rem;
            background-color: #17A9DE;
            border-radius: 50%;
            text-align: center;
            color: #fff;
        }
    }
    .getPayTitle {
        line-height: 20px;
        text-align: center;
        margin-top: .133333rem;
        font-size: 16px;
        span {
            height: 1px;
            background-color: #E7E7E7;
            width: 3.733333rem;
            margin-top: .24rem;
            display: inline-block;
        }
    }
    .accountListDetails {
        ul {
            li {
                border-bottom: 1px solid #ECECEC;
                overflow: hidden;
                padding: .4rem .533333rem;
                height: 1.84rem;
                box-sizing: border-box;
                p {
                    line-height: 20px;
                }
            }
            .accountListDetailsRight {
                text-align: right;
            }
        }
    }
}
.orderListWrap {
    .orderIng {
        height: 1rem;
        line-height: 1rem;
        padding-left: .266667rem;
        background-color: #F0F0F0;
        color: #B3B3B3;
    }
    .orderItemList {
        .orderItem {
            .orderItemLis {
                ul {
                    li {
                        padding: 0 .266667rem;
                        border-top: 1px solid #C8C8C8;
                        border-bottom: 1px solid #C8C8C8;
                        h3 {
                            height: 1.253333rem;
                            line-height: 1.253333rem;
                            font-size: 16px;
                            border-bottom: 1px solid #D7DBE3;
                            box-sizing: border-box;
                            margin-bottom: .266667rem;
                            font-weight: 800;                                                                
                            span {
                                color: #17A9DE;
                            }
                        }
                        .spelis {
                            height: 1.173333rem;
                        }
                        .paysteps {
                            line-height: 1.173333rem;                            
                        }
                        .orderItemLisWrap {
                            background-color: #F7F7F7;
                            padding: .106667rem;
                            margin-bottom: .1rem;
                            img {
                                width: 1.893333rem;
                                height: 1.893333rem;
                                border-radius: 50%;
                            }
                            .personMsg {
                                width: 6.933333rem;
                                .iconfont {
                                    color: #C5C5C5;
                                    margin-right: 2px;
                                }
                                p {
                                    display: inline-block;
                                    width: 6.4rem;
                                    color: #727272;
                                    line-height: 24px;
                                }
                            }
                            h4 {
                                margin-bottom: .28rem;                                
                            }
                            .floatWrap {
                                width: 6.933333rem;
                                .order {
                                    display: inline-block;
                                    width: .6rem;
                                    font-size: 14px;
                                    height: 1.173333rem;
                                    text-align: center;
                                    font-weight: 800;                                    
                                }
                                h4 {
                                    width: 6rem;
                                    font-size: 14px;
                                    font-weight: 800;
                                    margin-bottom: .266667rem;
                                }
                            }
                        }
                        .btnWrap {
                            height: 1.253333rem;
                            line-height: 1.253333rem;
                            border-top: 1px solid #D7DBE3;
                            button {
                                height: .746667rem;
                                width: 2.24rem;
                                border: 1px solid #cccccc;
                                margin: 0 .08rem;
                                border-radius: 5px;
                            }
                        }
                    }
                }
            }
        }
    }
}
.line {
    height: 1px;
    width: 100%;
    background: #EDEDED;
}
.jianGe {
    background-color: #F7F7F7;
    height: .24rem;
}
.border {
    height: 1px;
    width: 100%;
    background: #c9c9c9;
}