.add-server{
    background-color: #f0f0f0;
    height: 100%;
    position: absolute;
    width: 100%;
}
.add-server-nav-bar{
    border-bottom: 1px solid #ddd;
}
.add-server-nav-bar .am-navbar-left-icon{
    margin-right: 0;
}
.add-server .server-name{
    height: 1.6rem;
    border-bottom: 1px solid #ddd;
}
.unit-price-flex{
    height: 1.6rem;
    background-color: #fff;
}
.unit-price-flex .am-list-item .am-input-label.am-input-label-5 {
    width: 35px;
}
.am-flexbox-item.flex3{
    -webkit-box-flex: 3;
    -webkit-flex: 3;
    -ms-flex: 3;
    flex: 3;
}
.am-flexbox-item.flex2{
    -webkit-box-flex: 2;
    -webkit-flex: 2;
    -ms-flex: 2;
    flex: 2;
}
.am-flexbox-item.flex1{
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}
.unit-price-flex .am-list-item.am-input-item{
    height: 1.6rem;
}
.unit-price-flex{
    border-bottom: 1px solid #ddd;
}
.add-server .am-list-item .am-input-label{
    color: #737373;
}

.unit-price-flex .iconfont.icon-tubiao-{
    font-size: 30px;
    border: 1px solid #ddd;
    border-radius: 5px;
    color: #838383;
}
.drop-down-list-unit{
    width: 1.6rem;
}
.drop-down-list-unit .am-popover-inner-wrapper .am-popover-item-container{
    display: block;
    line-height: 39px;
    text-align: center;
    font-size: 18px;
    color: #838383;
}
.unit-price-flex .am-list-item .am-list-line{
    padding-right: 0;
}
.createServer{
    background-color: #f0f0f0;
    height: 100%;
    position: absolute;
    width: 100%;
}
.createServer .server-item{
    background-color: #fff;
    margin: .16rem .32rem;
    padding: .16rem .48rem;
    border: 1px solid #dfdfdf;
    border-radius: 5px;
}
.server-item .am-checkbox-item{
    border-bottom: 1px solid #eee;
    margin-bottom: .16rem;
}
.server-item .am-list-content h2{
    display: inline-block;
    width: 80%;
}
.server-item .am-list-content a{
    float: right;
    color: #bbb;
}
.createServer .server-item .describe{
    font-size: 14px;
    color: #969696;
    line-height: .48rem;
}
.createServer .server-item .unit-box{
    display: inline-block;
    font-size: 20px;
    color: #ff0c0c;
    height: 38px;
    line-height: 38px;
}
.createServer .server-item .my-stepper{
    float: right;
    width: 110px;
    padding: 0;
    border: 1px solid #cfcfcf;
    border-radius: 5px;
}
.server-item .my-stepper .am-stepper-handler{
    border: none;
    border-radius: 0;
    width: 35px;
    height: 35px;
    line-height: 32px;
}
.server-item .my-stepper .am-stepper-handler .am-icon-xxs{
    fill: #ff6633;
}
.server-item .my-stepper .am-stepper-handler.am-stepper-handler-down{
    border-right: 1px solid #cfcfcf;
}
.server-item .my-stepper .am-stepper-handler.am-stepper-handler-up{
    border-left: 1px solid #cfcfcf;
}
.my-stepper .am-stepper-input-wrap input{
    width: 40px;
}
.server-button-modal.am-modal-wrap{
    position: inherit;
}
.create-server-popup{
    padding: .32rem .48rem;
    text-align: left;
    border-top: 1px solid #ccc;
}
.create-server-popup .txt-div{
    color: #070707;
    font-size: 16px;
    margin-bottom: .36rem;
}
.create-server-popup .txt-div .num{
    margin: 0 .16rem;
    color: #20c8e1;
}
.create-server-popup .txt-div .right {
    float: right;
}
.create-server-popup .txt-div .price{
    color: #ff0909;
    margin-left: 0.16rem;
}
.create-server-popup .create-server-button{
    color: #fff;
    background-color: #00a0e9;
    border-radius: 0px;
}
.create-server-popup .create-server-button.create-server-button-active{
    background-color: #0276ac;
}
html:not([data-scale]) .am-button.create-server-button::before{
    border-radius: 0px;
}
.create-offer{
    background-color: #f0f0f0;
    // height: 100%;
    position: absolute;
    width: 100%;
}
.create-offer-main .offer-item .price,
.create-offer-main .offer-item .number{
    text-align: right;
}

.create-offer-main {
    background-color: #fff;
    padding: .213333rem;
    margin-top: .133333rem; 
    margin-bottom: .2rem; 
}
.create-offer-main .offer-item{
    background-color: #f8f8fa;
    padding: .36rem;
    margin-bottom: .133333rem;
    line-height: .76rem;
} 
.create-offer-main .offer-item .title{
    font-size: 16px;
    color: #000;
}
.create-offer-main .offer-item .price{
    font-size: 14px;
    color: #ff1212;
}
.create-offer-main .offer-item .remarks{
    font-size: 14px;
    color: #8b8b8b;
    line-height: 1.6;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}
.create-offer-main .offer-item .number{
    font-size: 14px;
    color: #5a5a5b;
}
.create-offer-main .tax-top-rate-box{
    background-color: #f8f8fa;
    padding: .36rem;
    margin-bottom: .133333rem;
}
.create-offer-main .tax-top-rate-box .name{
    font-size: 18px;
    color: #050505;
}
.create-offer-main .tax-top-rate-box .price{
    font-size: 16px;
    color: #858585;
    float: right;
    line-height: 1.6;
}
.create-offer-main .tax-top-rate-box .tax-bottom{
    font-size: 14px;
    color: #858585;
    text-align: right;
    margin-top: .16rem;
    // line-height: 1.6;
}
.create-offer-main .sum-price-box{
    margin: .4rem .36rem;
}
.create-offer-main .sum-price-box .left-title{
    font-size: 18px;
    color: #050505;
}
.create-offer-main .sum-price-box .right-sum-price{
    float: right;
    font-size: 16px;
    color: #494949;
}
.remarks-input-create-offer.am-list-item .am-input-label.am-input-label-5 {
    width: 26px;
    color: #00a0e9;
}
.remarks-input-create-offer{
    padding: .2rem;
    margin-bottom: 5px;
    background-color: #f8f8fa;
    border-radius: 6px;
}
.create-offer-customer,
.create-offer-project{
    background-color: #fff;
    padding: .2rem .4rem .3rem;
    margin-bottom: .2rem;
}
.create-offer-customer .customer-input-box,
.create-offer-project .customer-input-box
{
    background-color: #f8f8f8;
}
.create-offer-customer .customer-input-box .am-list-item,
.create-offer-project .customer-input-box .am-list-item
{
    background-color: transparent;
}
.create-offer-customer .customer-input-box .am-input-label{
    width: 1.333333rem;
    color: #929495;
}
.create-offer-customer .customer-title,
.create-offer-project .project-title{
    padding: .2rem 0 .2rem 15px;
}
.create-offer-customer .customer-title .left,
.create-offer-project .project-title .left{
    font-size: 18px;
    color: #050505;
    margin-right: .3rem;
}
.create-offer-customer .customer-title .right,
.create-offer-project .project-title .right{
    font-size: 15px;
    color: #929495;
    margin-right: .16rem;
}
.create-offer-customer .customer-title .iconfont{
    float: right;
    font-size: 22px;
    color: #00a0e9;
}
.create-offer-customer .am-list-item .am-input-control input,
.create-offer-project .am-list-item .am-input-control input
{
    font-size: 15px;
} 
.create-offer-customer .am-list-item .am-list-line,
.create-offer-project .am-list-item .am-list-line{
    border-bottom: 1px solid #e0e0e0!important;
    margin-right: 15px;
}
.create-offer-customer .am-list-item:last-child .am-list-line,
.create-offer-project .am-list-item:last-child .am-list-line{
    border-bottom: none!important;
}
.create-offer-project .customer-input-box .am-input-label{
    width: 2.4rem;
    color: #929495;
}
.create-offer-project .customer-input-box .am-list-item .am-list-content{
    // width: 2.4rem;
    color: #929495;
    -webkit-box-flex: 1; 
    -webkit-flex: 1; 
    -ms-flex: 1;
    flex: 1; 
}
.create-offer-project .customer-input-box .am-list-item .am-list-extra{
    color: #000;
    font-size: 15px;
    -webkit-box-flex: 2; 
    -webkit-flex: 2; 
    -ms-flex: 2;
    flex: 2; 
}
.create-offer-project .customer-input-box.project-input .am-list-item .am-list-line{
    margin-right: 0;
    padding-right: 0;
}
.create-offer-project .customer-input-box.project-input .am-list-item.input-project-name .am-list-line{
    margin-right: 15px;
}
.project-input .am-list-item.am-list-item-middle.am-list-item-active{
    background-color: #ddd!important;
}
.cut-off-date .am-picker-popup-title{
    font-size: 15px;
}
@media screen and (max-width: 350px) {
    .cut-off-date .am-picker-popup-title{
        font-size: 14px;
    }
}
.customer-input-box.project-input .num{
    color: red;
    font-size: 17px;
}
.create-offer-foot{
    background-color: #fff;
    padding: .2rem .4rem .3rem;
    // margin-top: .2rem;
}
.create-offer-foot .discount{
    padding: .2rem 0;
} 
.create-offer-foot .discount .unit{
    display: inline-block;
    width: 40%;
    font-size: 17px;
    color: #000;
}
.discount .unit .price{
    color: #ff0707;
}

@media screen and (max-width: 350px) {
    .create-offer-foot .discount .unit{
        width: 38%;
        font-size: 14px;
    }
}
.create-offer-foot .create-offer-button {
    color: #fff;
    background-color: #00a0e9;
    border-radius: 0px;
}
html:not([data-scale]) .am-button.create-offer-button::before{
    border-radius: 0px;
}
.create-offer-foot .discount-select-div{
    padding: .2rem 0;
    // height: 60px;
}
.discount-select-div .discount-left{
    // display: inline-block;
    // width: 35%;
}
.discount-select-div .discount-left .txt{
    font-size: 18px;
    color: #565656;
    margin-left: .2rem;
    vertical-align: top;
}
.discount-select-div .discount-left .dot-box{
    display: inline-block;
    width: .533333rem;
    height: .533333rem;
    border: 1px solid #999;
    // background-color: #000;
    border-radius: 50%;
    position: relative;
}
.discount-select-div .discount-left .dot-box .dot{
    display: inline-block;
    width: .4rem;
    height: .4rem;
    border-radius: 50%;
    background-color: #00a0e9;
    // top: 50%;
    // left: 50%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    // transform: translateX(-50%) translateY(-50%);
}
.discount-select-div .discount-middle{
    // display: inline-block;
    // width: 35%;
    height: .8rem;
    min-height: .8rem;
    background-color: #f2f2f2;
    border-radius: 5px;
}
.create-offer-foot .how-many-discount{
    // display: inline-block;
    // width: 25%;
    text-align: center;
    font-size: 15px;
    color: #4b4b4b;
}
@media screen and (max-width: 350px) {
    .discount-select-div .discount-left .txt{
        font-size: 16px;
    }
}
.confirm-offer{
    background-color: #f0f0f0;
    // height: 100%;
    position: absolute;
    width: 100%;
}
.confirm-offer-remarks-div{
    background-color: #f8f8fa;
    padding: .36rem;
    margin-bottom: .133333rem;
    min-height: 1.6rem;
}
.confirm-offer-remarks-div .title{
    float: left;
    font-size: 18px;
    color: #050505;
}
.confirm-offer-remarks-div .remarks{
    padding-left: 50px;
    font-size: 16px;
    color: #858585;
}
.create-offer-main .tax-top-rate-box.confirm-offer-style{
        background-color: transparent;
}
.create-offer-main .tax-top-rate-box.confirm-offer-style .name{
    font-size: 16px;
}
.create-offer-main .tax-top-rate-box.confirm-offer-style .price.subtotal{
    color: #464646;
}
.create-offer-main .tax-top-rate-box.confirm-offer-style .price.discount{
    color: #ff1212;
    font-size: 18px;
}
.create-offer-main .tax-top-rate-box.confirm-offer-tax .name{
    font-size: 16px;
    color: #858585;
}
.create-offer-main .tax-top-rate-box.confirm-offer-tax .tax-bottom{
    font-size: 16px;
    color: #858585;
}
.create-offer-main .tax-top-rate-box.confirm-offer-tax .txt{
    display: inline-block;
    width: 40px;
    text-align: right;
}
.confirm-offer .confirm-offer-customer{
    background-color: #fff;
    padding: .2rem .4rem 0;
    margin-bottom: .2rem;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}
.confirm-offer .confirm-offer-customer .left{
    font-size: 16px;
    color: #858585;
    margin-right: .3rem;
    float: left;
}
.confirm-offer .confirm-offer-customer .right{
    font-size: 14px;
    color: #020202;
    text-align: right;
}

.confirm-offer-customer-title{
    font-size: 16px;
    color: #000;
    padding: .2rem .4rem .1rem;
}
.confirm-offer-customer .customer-box p{
    height: 1.2rem;
    line-height: 1.2rem;
}
.ellipsis{
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
.ellipsis-lines{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
}
.confirm-offer-customer .customer-box .right .name{
    vertical-align: top;
    margin-right: 5px;
}
.confirm-offer-customer .customer-box.customer .company{
    color: #858585;
}
.confirm-offer-foot .confirm-offer-button {
    color: #fff;
    background-color: #00a0e9;
    border-radius: 0px;
}
.confirm-offer-foot .confirm-offer-button-active{
    background-color: #0a77aa;
}
.confirm-offer-foot .create-offer-button-active{
    background-color: #0a77aa;
}
.confirm-offer-foot {
    background-color: #fff;
    padding: .3rem .4rem;
}
html:not([data-scale]) .am-button.confirm-offer-button::before{
    border-radius: 0px;
}
.server-button-modal .am-modal-transparent .am-modal-content .am-modal-body {
    padding: 0;
}
.server-button-modal .am-modal-transparent .am-modal-content {
    padding-top: 0;
}
.serverButton .am-button a{
    color: #009AE8;
}
.serverButton .am-button.am-button-active a{
    color: #fff;
}
.server-item .am-checkbox-item{
    padding-left: 0;
}

/**************** orderList start*********/
.showLoginPopUp div{
	font-size: 16px;
}
.verification-phone-box{
	// margin-bottom: 0.5rem;
    // height: 1.2rem;
    min-height: 44px;
	line-height: 1.2rem;
	border: 1px solid #ccc;
	display: -webkit-box; 
    display: flex;
}
// .verification-phone-box input{
// 	border: none;
// 	padding-left: 0.2rem;
// 	width: 50%;
// 	font-size: 0.5rem;
// 	outline: none;
// }
.verification-phone-box .code.allow:active{
	background-color: rgb(8, 161, 239);
}
.verification-phone-box .code{
	// -webkit-flex: 1;
    // flex: 1;
    width: 50%;
	text-align: center;
	display: inline-block;
	border-left: 1px solid #ccc;
}
.verification-phone-box .verification-code{
    width: 50%;
}
.verification-phone-box img.codePouup{
    height: 100%;
    width: 100%;
}
.Confirm-order-modal .am-modal-header{
    padding-bottom: 2px;
}
.verification-phone-box .am-list-item .am-input-control input{
    line-height: 1.6;
}
.score-modal .info{
    text-align: left;
    margin-top: 20px;
    margin-bottom: 5px;
    font-size: 18px;
}
.score-modal .info .scoreTitle{
    margin-right: 10px;
}
.score-modal .info .icon-wujiaoxing{
    font-size: 20px;
    margin: 0 5px;
}
.am-list-item.comment{
    padding-left: 0;
    color: #888;
}
.am-list-item.comment .am-textarea-label.am-textarea-label-5{
    width: 40px;
    color: #888;
}
.am-list-item.comment .am-textarea-control{
    border: 1px solid #ccc;
    border-radius: 5px;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.am-list-item.comment .am-textarea-control textarea{
    min-height: 80px;
    max-height: 130px;
}
.am-modal.am-modal-operation .am-modal-content .am-modal-button{
    text-align: center;
    padding-left:0;
}
.withdraw-page .input-form{
    background-color: #f5f5f9;
}
.withdraw-page .am-navbar{
    border-bottom: 0.02rem solid #ccc;
}
.input-form .withdraw-list .am-input-item {
    border-bottom: 0.01rem solid #ccc;
}
.withdraw-page .am-list-item .am-input-label.am-input-label-5 {
    width: 1.7rem;
}
.input-form .am-list-header{
    padding: 0.3rem 0.2rem 0.1rem 0.3rem;
    font-size: 16px;
    color: #828080;
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
}
.input-form .am-list-header .iconfont{
    font-size: 20px;
    margin-right: 6px;
    color: #555;
}
.input-form .am-list-header .balance{
    color: red;
}
.input-form .verification-phone-box{
    border-left: none;
    border-right: none;
}
.input-form .verification-phone-box.two{
    border-top: none;
}
.input-form .verification-phone-box .code{
    height: 44px;
}
.input-form .verification-phone-box .h5offerSpan{
    font-size: 16px;
}
.withdraw-page .withdraw-time{
    margin-top: 0.6rem;
    margin-bottom: 0.2rem;
    font-size: 14px;
    color: #555;
    text-align: center;
}
.withdraw-time .day{
    color: #08A1EF;
}
.withdraw-time .fees{
    color: #999;
}
.withdraw-page .pay-button{
    font-size: 20px;
    color: #fff;
    background-color: #fd4d65;
}
.withdraw-page .pay-button-active{
    font-size: 20px;
    color: #fff;
    background-color: #de2a42;
}
.withdraw-phone.am-list-item .am-input-label{
    color: #bbb;
}
.withdraw-phone.am-list-item .am-input-control input{
    color: #bbb;
}
/**************** orderList end*********/

.am-button.rechargeButton::before{
    border: none!important;
}
.rechargeButton{
    height: auto;
    line-height: 30px;
    padding: 0 8px;
    background-color: #17A9DE;
    color: #fff;
}
.recharge-input.am-list-item.am-input-item{
    border: 1px solid #ddd;
    border-radius: 3px;
}
.pay-modal-div .pay-list .two .am-list-extra{
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

// .am-list-header .contacts-list-footer{
//     background-color: #F5F5F9;
//     height: 5px;
//     border-top: 1px solid #ECECED;
//     border-bottom: 1px solid #ECECED;
// }
// .contacts-list .am-list-header{
//     padding: 0;
// }
.contacts-swipe::after{
    content: '';
    background-color: #F5F5F9;
    height: 3px;
    border-top: 1px solid #ECECED;
    border-bottom: 1px solid #ECECED;
    display: block;
}
.contacts-swipe .am-list-brief{
    font-size: 16px!important;
}
.contacts-swipe .icon-dianhua{
    font-size: 18px;
}
.recharge-input .am-input-label-5{
    width: 26px!important;
}  
.recharge-input .am-input-label-5 .iconfont{
    font-size: 20px;
    line-height: 1;
}
.contacts-modal .recharge-input.am-list-item.am-input-item{
    border-bottom: 0;
    border-radius: 0;
}
.contacts-modal .recharge-input.am-list-item.am-input-item.one{
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.contacts-modal .recharge-input.am-list-item.am-input-item.four{
    border-bottom: 1px solid #ddd;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}
.am-action-sheet-wrap  .am-action-sheet.am-action-sheet-share{
    background-color: #fff;
}
.am-action-sheet-share-list-item-icon .iconfont.icon-weixin1{
    font-size: 50px;
    color: #21d328;
}
.am-action-sheet-body .am-action-sheet-title{
    text-align: left;
}
.am-action-sheet-share .am-action-sheet-share-list-item-title{
    font-size: 14px;
    color: #202020;
}