/************** update 0626 start ****************/
.hometabs{
    width: 80%;
}
.homeWrap .homeWrapTop .hometabs .am-tabs-default-bar .am-tabs-default-bar-tab .tabsList p{
	overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
.homeWrap .homeWrapTop .hometabs{
	display: inline-block;
}
.get-user-list-sort{
    width: 18%;
    height: 2.133333rem;
    // background-color: #fff;
    margin-top: .1rem;
    display: inline-block;
	float: left;
	position: relative;
    z-index: 1;
}
.get-user-list-sort .circle-box{
	height: 1.2rem;
	width: 1.2rem;
	margin: 0 auto;
	position: relative;
	.circle{
		border-radius: 50%;
		height: 1.2rem;
		line-height: 1.2rem;
		text-align: center;
		width: 1.2rem;
		position: absolute;
		color: #fff;
		background-color: #375b83;
		font-size: 12px;
		opacity: 0;
		transition: all 0.3s ease;
		&.out-one{
			border: 1px solid #fff;
			background-color: #4f9bd2;
			box-sizing: border-box;
			z-index: 2;
			opacity: 1;
		}
		&.out-two{
			z-index: 1;
			&.down{
				// top: 1.35rem;
				transform: translate(0, 1.4rem);
				opacity: 1;
			}
		}
		&.out-three{
			z-index: 0;
			&.down{
				// top: 2.7rem;
				transform: translate(0, 2.8rem);
				opacity: 1;
			}
		}
	}
}
.get-user-list-sort .circle-p{
	line-height: 14px;
    margin-top: .15rem;
	font-size: 12px;
	text-align: center;
	color: #fff;
}
.am-image-picker-list .am-flexbox-item{
	margin-bottom: 5px;
}
.upload-photo-page{
	height: 100%;
    // background-color: yellowgreen;
    background-color: #fff;
}
.bottom-scroll-box{
	min-width: 100%;
	height: 25vw;
	background-color: #fff;
	padding: 5px 0;
	position: absolute;
	bottom: 0;
	& .am-image-picker-item{
		display: inline-block;
		position: relative;
		width: 25vw;
		height: 25vw;
		text-align: center;
		float: left;
		// margin-left: 0.5vw;
		// margin-right: 0.5vw;
		// margin-left: 5px;
		// margin-right: 5px;
		& .am-image-picker-item-remove{
			width: 0.4rem;
			height: 0.4rem;
			position: absolute;
			right: 0.22rem;
			top: 0.12rem;
			text-align: right;
			vertical-align: top;
			z-index: 2;
			background-size: 0.4rem auto;
			background-image: url("../images/DeletePhotoBtn.svg");
		}
		& .am-image-picker-item-content{
			// height: 100%;
			// width: 100%;
			height: 23vw;
			width: 23vw;
			border-radius: 0.06rem;
			background-size: cover;
		}
	}
	& .am-image-picker-upload-btn{
		box-sizing: border-box;
		border-radius: 0.06rem;
		border: 1PX solid #ddd;
		background-color: #fff;
		height: 23vw;
		width: 23vw;
		margin-left: 1vw;
		&::before,
		&::after{
			width: 1PX;
			height: 1rem;
			content: " ";
			position: absolute;
			top: 50%;
			left: 50%;
			-webkit-transform: translate(-50%, -50%);
			-ms-transform: translate(-50%, -50%);
			transform: translate(-50%, -50%);
			background-color: #ccc;
		}
		&::after{
			width: 1rem;
    		height: 1PX;
		}
	}
}
.upload-photo-page{
	.origin-img-box{
		position: relative;
		height: 75%;
		height: calc(100% - 26vw - 65px);
	}
	.wrapper{
		overflow: hidden;
		width: 100vw;
		height: 25vw;
	}
}

/************** update 0626 end ****************/